<!--
  Generated template for the SetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary200">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <b>{{ "SETUP" | translate }}</b>
    </ion-title>
  </ion-navbar>

</ion-header>
<div class="popup123">
  <div class="bgpop"></div>
  <div class="PopUpwarn">
    <div class="poptext">Sorry, this page cannot be viewed in this screen size. <br>Please use desktop browser to view the
      page. </div>
  </div>
</div>
<ion-content padding style="background: #eeeeee;">
  <ion-card class="round1" (click)="goToSetupGuide()" *ngIf="SetupGuideDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-cog" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_GUID" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToBranchsetup()" *ngIf="TenantCompanyDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-briefcase" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "TENANT_COMPANY" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToBanksetup()" *ngIf="BankDisplay">
    <ion-card-header class="icon">
      <ion-icon name="logo-usd" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "BANK" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToCashcardsetup()" *ngIf="CashcardDisplay">
    <ion-card-header class="icon">
      <ion-icon name="cash" color="secondary400" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "CASH_CARD" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToClaimtypesetup()" *ngIf="ClaimTypeDisplay">
    <ion-card-header class="icon">
      <ion-icon name="list" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_CLAIM_TYPE" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToDesignationsetup()" *ngIf="DesignationDisplay">
    <ion-card-header class="icon">
      <ion-icon name="person" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_DESIGNATION" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToDepartmentsetup()" *ngIf="DepartmentDisplay">
    <ion-card-header class="icon">
      <ion-icon name="git-pull-request" color="secondary400" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_DEPARTMENT" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToMileagesetup()" *ngIf="MileageDisplay">
    <ion-card-header class="icon">
      <ion-icon name="car" color="secondary400" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_MILEAGE" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToPaymenttypesetup()" *ngIf="PaymentTypeDisplay">
    <ion-card-header class="icon">
      <ion-icon name="list-box" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "PAYMENT_TYPE" | translate }} 

    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToQualificationsetup()" *ngIf="QualificationDisplay">
    <ion-card-header class="icon">
      <ion-icon name="medal" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_QUALIFICATION" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToUser()" *ngIf="UserDisplay">
    <ion-card-header class="icon">
      <ion-icon name="people" color="secondary400" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "USER_REGISTRATION" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToCustomer()" *ngIf="CustomerDisplay">
    <ion-card-header class="icon">
      <ion-icon name="man" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_CUSTOMER_REGISTRATION" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToSOC()" *ngIf="SocDisplay">
    <ion-card-header class="icon">
      <ion-icon name="md-clipboard" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "S_SETUP_GUID" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToCountrysetup()" *ngIf="CountryDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-pin" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_COUNTRY" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToStatesetup()" *ngIf="StateDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-pin-outline" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_STATE" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToDevicesetup()" *ngIf="DeviceDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-finger-print-outline" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "ATTENDANCE" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToImport_Excel_Data_setup()" *ngIf="ImportDataDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-stats-outline" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_IMPORT_DATA" | translate }}  
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="round1" (click)="goToSettings()" style="display:none;">
    <ion-card-header class="icon">
      <ion-icon name="settings" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "SETUP_SETTING" | translate }}  
    </ion-card-content>
  </ion-card> -->

  <ion-card class="round1" (click)="goToCompanySettings()" *ngIf="CompanySettingsDisplay">
    <ion-card-header class="icon">
      <ion-icon name="settings" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "COMPANY_SETTING" | translate }} 
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToDBMaintenance()" *ngIf="DBMaintenanceDisplay">
    <ion-card-header class="icon">
      <ion-icon name="cloud-download" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      {{ "DB_MAINTENANCE" | translate }}  
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToRolesetup()" *ngIf="RoleSetupDisplay">
    <ion-card-header class="icon">
      <ion-icon name="git-network" color="primary" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      Role Setup
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToRoleModulesetup()" *ngIf="RoleModuleDisplay">
    <ion-card-header class="icon">
      <ion-icon name="ios-git-network" color="secondary400" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      Role Module Setup
    </ion-card-content>
  </ion-card>

  <ion-card class="round1" (click)="goToApprovalProfileSetup()" *ngIf="ApprovalProfileDisplay">
    <ion-card-header class="icon">
      <ion-icon name="basket" color="primary500" class="iconf"></ion-icon>
    </ion-card-header>
    <ion-card-content class="Subtitle">
      Approval Profile
    </ion-card-content>
  </ion-card>

</ion-content>