page-setup {
 
}
.round {
      float: left;
      box-shadow: none !important;
      width: calc(20% - 20px);
      margin: 10px !important;
      cursor: pointer;
      border-radius: 5px;
      min-height: 80px;
    }

    .Subtitle {
      text-align: center;
      font-size: 1vw;
    }

    .iconf{
         font-size: 4.5vw;
      color: #2E86C1;
      transition: all 0.3s ease;
    }

    .background{
      background:#2E86C1 ;
    }
  

    .icon {
      text-align: center;
    }

 .round:hover {
        font-weight: bold;
        
    }


      @media(max-width: 700px) {
      .round {
      width: calc(100% - 20px);
      min-height: 100px;
    }


    .Subtitle {
      text-align: center;
      font-size: 3vw;
    
    }

    .iconf {
      font-size: 10vw;
      color: #2E86C1;
    }
  }