<ion-header>

</ion-header>

<ion-content style="background:#f8f9fa">
	<ion-card style="background:#f8f9fa;width: 405px;margin:0 auto">

		<p style="text-align:center !important;">

			<img src="assets/img/Untitled-2.png" alt="Ionic Logo">

			<b>Please enter your login credentials</b>
		</p>
		<form #loginForm="ngForm" novalidate>
			<ion-list no-lines inset>
				<ion-item style="background:#f8f9fa">

					<ion-label color="primary">{{ "USER_NAME_LABEL" | translate }}</ion-label>
					<ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
					 required>
					</ion-input>
					<!-- <ion-icon name="person" item-end></ion-icon> -->
				</ion-item>
				<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
					Username is required
				</p>

				<ion-item style="background:#f8f9fa">
					<ion-label color="primary">Password</ion-label>
					<ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
						<!-- <ion-icon item-end name="key"></ion-icon> -->
					</ion-input>
	
				</ion-item>
				<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
					Password is required
				</p>
			</ion-list>

			<ion-item  style="background:#f8f9fa">
					<button color="primary500" ion-button (click)="onLogin(loginForm)" type="submit">Login</button>

					<button color="primary500" ion-button (click)="onSignup()">Signup</button>
	
				</ion-item>
				<ion-item>
		
					<p>
						<a color="primary700" (click)="ForgotPasswordClick()">Forgot Your Password?</a>
					</p>
				</ion-item>


		</form>
	</ion-card>


	<div class="blackcontainer" *ngIf="ForgotPasswordClicked">
	</div>
	<div class="popup3" padding *ngIf="ForgotPasswordClicked">
		<ion-card>
			<ion-card-header class="icTitle headerColor-white ">
				<div class="icHeaderText">Forgot Password</div>
				<button class="btnR" (click)="CloseForgotPasswordClick()">
					<ion-icon name="md-close"></ion-icon>
				</button>
			</ion-card-header>

			<ion-list>
				<form [formGroup]="ForgotPasswordForm">
					<ion-item>
						<ion-label stacked>{{ 'Email' | translate }}</ion-label>
						<ion-input type="email" formControlName="Email_ID" [(ngModel)]="email_ngModel" required placeholder="{{'Please fill in the email'}}"></ion-input>
					</ion-item>

					<div class="btn">
						<button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!ForgotPasswordForm.valid" (click)="SaveForgotPassword()">{{"SUBMIT" | translate}}</button>
					</div>
				</form>
			</ion-list>

		</ion-card>
	</div>

</ion-content>