# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.zip
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

www/build/
www/assets/
package-lock.json
ionic.config.json
.sourcemaps/main.js.map
www/assets/data/data.json
www/assets/img/appicon.png
www/assets/img/ica-slidebox-img-1.png
www/assets/img/ica-slidebox-img-2.png
www/assets/img/ica-slidebox-img-3.png
www/assets/img/ica-slidebox-img-4.png
www/assets/img/noPreview.png
