<!--
  Generated template for the ClaimReportPrintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>


  <body style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;">
    <table width="100%" border="0" bgcolor="#cccccc">

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#002060" style="background-color:#002060;">
        <td align="center" valign="middle" bgcolor="#002060" colspan="4" style="border-right: none">
          <h2 style="color:#FFFFFF;">CLAIM REPORT</h2>
        </td>
        <td colspan="3" valign="middle" align="center" bgcolor="#002060" colspan=3 style="border-left: none">
          <h2 style="color:#ffffff;">{{month}} {{year}}</h2>
        </td>
      </tr>
      <tr *ngFor="let item of empData">
        <td colspan="7" bgcolor="#ffffff">Company : {{item.tenant_company_name}}</td>
      </tr>
      <tr *ngFor="let item of empData">
        <td colspan="4" bgcolor="#ffffff">Name : {{item.FULLNAME}}</td>
        <td colspan="3" bgcolor="#ffffff">Department : {{item.department_name}}</td>
      </tr>
      <tr *ngFor="let item of empData">
        <td colspan="4" bgcolor="#ffffff">Position :{{item.designation_name}}</td>
        <td colspan="3" bgcolor="#ffffff">Approver :{{item.MANAGER}}</td>
      </tr>
      <tr>
        <td colspan="7" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </table>


    <table width="100%" border="0" bgcolor="#cccccc">

      <tr style="color:#ffffff;">
        <td align="center" bgcolor="#002060">Claim Date</td>
        <td align="center" bgcolor="#002060">Type</td>
        <td align="center" bgcolor="#002060">Details</td>
        <td align="center" bgcolor="#002060">Mode</td>
        <td align="center" bgcolor="#002060">From</td>
        <td align="center" bgcolor="#002060">To</td>
        <td align="center" bgcolor="#002060">Amount (RM)</td>
      </tr>

      <!-- Odd number styling-->
      <!-- First *ngFor (Date, Customer Name, Project Name, etc)-->

      <tr *ngFor="let claim of claimsListPrint">
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1"> {{claim.TRAVEL_DATE | date:'d/M/y'}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.TYPE}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1" valign="top">
            {{claim.PROJECT_NAME}}/{{claim.SOC}} {{claim.CUSTOMER_NAME}}
          </span>
          <span *ngIf="claim.RowNum==2">
            {{claim.DESCRIPTION}}
          </span>
          <span *ngIf="claim.RowNum==3 && claim.TYPE==='TRV'">
            ({{claim.DISTANCE_KM}}KM * RM{{claim.RATE_PER_UNIT}})
          </span>
          <span *ngIf="claim.RowNum==4 && claim.TYPE==='TRV' && claim.TollAmount!==0">
            Toll
          </span>
          <span *ngIf="claim.RowNum==5 && claim.TYPE==='TRV' && claim.ParkingAmount!==0">
            Parking
          </span>
          <span *ngIf="claim.RowNum==6 && claim.TYPE==='TRV' && claim.MealAmount!==0">
            Meal Allowance
          </span>
          <span *ngIf="claim.RowNum==7 && claim.TYPE==='TRV' && claim.AccAmount!==0">
            Accomodation
          </span>
          <span *ngIf="claim.RowNum==3  && claim.TYPE==='OT'">
            Start date/time : {{claim.START_TS | date:'d/M/y HH:mm'}}
          </span>
          <span *ngIf="claim.RowNum==4 && claim.TYPE==='OT'">
            End date / time: {{claim.END_TS | date:'d/M/y HH:mm'}}
          </span>
        </td>

        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.MODE}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.from}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.to}}</span>
        </td>
        <td align="right" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">
            {{claim.MILEAGE_AMOUNT}}
          </span>
          <!--  <span *ngIf="claim.RowNum==2">
                {{claim.DESCRIPTION}}
              </span>
              <span *ngIf="claim.RowNum==3 && claim.TYPE==='TRV'">
                ({{claim.DISTANCE_KM}}KM * RM{{claim.RATE_PER_UNIT}})
              </span> -->
          <span *ngIf="claim.RowNum==4 && claim.TYPE==='TRV' && claim.TollAmount!==0">
            {{claim.TollAmount}}
          </span>
          <span *ngIf="claim.RowNum==5 && claim.TYPE==='TRV' && claim.ParkingAmount!==0">
            {{claim.ParkingAmount}}
          </span>
          <span *ngIf="claim.RowNum==6 && claim.TYPE==='TRV' && claim.MealAmount!==0">
            {{claim.MealAmount}}
          </span>
          <span *ngIf="claim.RowNum==7 && claim.TYPE==='TRV' && claim.AccAmount!==0">
            {{claim.AccAmount}}
          </span>
          <!-- <span *ngIf="claim.RowNum==3  && claim.TYPE==='OT'">
                  Start date/time : {{claim.START_TS | date:'d/M/y HH:mm'}}
              </span>
              <span *ngIf="claim.RowNum==4 && claim.TYPE==='OT'">
                  End date / time: {{claim.END_TS | date:'d/M/y HH:mm'}}
              </span> -->

        </td>

      </tr>
      <tr>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC" colspan="2">TOTAL CLAIM AMOUNT</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>

        <td align="right" bgcolor="#B3CCEC">{{totalClaimAmount | number:'1.2-2'}}</td>

      </tr>
      <tr>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
      </tr>
      <tr>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
    </table>

    <table width="100%" border="0" bgcolor="#cccccc">
      <tr style="color:#ffffff;">
        <td colspan="6" align="center" bgcolor="#002060">CLAIMS SUMMARY</td>
        <td align="right" bgcolor="#002060">Amount (RM)</td>
      </tr>
      <tr *ngFor="let claim of claimsListSummery">
        <td align="left" bgcolor="#ffffff">&nbsp;</td>
        <td align="left" bgcolor="#ffffff">{{claim.TRAVEL}}</td>
        <td align="left" bgcolor="#ffffff">{{claim.MILEAGE}} </td>
        <td align="left" colspan="3" bgcolor="#ffffff">{{claim.SHORTFORM}} </td>
        <!-- <td  align="left" bgcolor="#ffffff">&nbsp;</td> -->
        <td align="right" bgcolor="#ffffff">{{claim.AMOUNT| number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">TOTAL CLAIM AMOUNT</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td colspan="2" align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="right" bgcolor="#B3CCEC">{{totalClaimAmount | number:'1.2-2'}}</td>
      </tr>

    </table>

  </body>
</ion-content>