<!--
  Generated template for the ClaimReportPrintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>


  <body style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;">
    <table width="100%" border="0" bgcolor="#cccccc" style="font-size: 8pt !important;">
      <tr bgcolor="#002060" style="background-color:#002060;">
        <td align="center" valign="middle" bgcolor="#002060" colspan="4" style="border-right: none">
          <h2 style="color:#FFFFFF;margin:0; padding:0;">CLAIM REPORT</h2>
        </td>
        <td colspan="3" valign="middle" align="center" bgcolor="#002060" colspan=3 style="border-left: none">
          <h2 style="color:#ffffff;margin:0; padding:0;">{{month}} {{year}}</h2>
        </td>
      </tr>
      <tr *ngFor="let item of empData">
        <td colspan="7" bgcolor="#ffffff">Company : {{item.tenant_company_name}}</td>
      </tr>
      <tr *ngFor="let item of empData">
        <td colspan="4" bgcolor="#ffffff">Name : {{item.FULLNAME}}</td>
        <td colspan="3" bgcolor="#ffffff">Department : {{item.department_name}}</td>
      </tr>
      <tr *ngFor="let item of empData">
        <td colspan="4" bgcolor="#ffffff">Position :{{item.designation_name}}</td>
        <td colspan="3" bgcolor="#ffffff">Approver :{{item.MANAGER}}</td>
      </tr>
      <tr>
        <td colspan="7" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </table>


    <table width="100%" border="0" bgcolor="#cccccc" style="font-size: 8pt !important;">

      <tr style="color:#ffffff;">
        <th align="center" bgcolor="#002060" style="width: 5%;">Claim Date</th>
        <th align="center" bgcolor="#002060" style="width: 3%;">Type</th>
        <th align="center" bgcolor="#002060" style="width: auto;">Details</th>
        <th align="center" bgcolor="#002060" style="width: 3%;">Mode</th>
        <th align="center" bgcolor="#002060" style="width: 20%;">From</th>
        <th align="center" bgcolor="#002060" style="width: 20%;">To</th>
        <th align="center" bgcolor="#002060" style="width: 4%;">Round Trip</th>
        <th align="center" bgcolor="#002060" style="width: 5%;">Amount ({{currency }})</th>
      </tr>

      <!-- Odd number styling-->
      <!-- First *ngFor (Date, Customer Name, Project Name, etc)-->

      <tr *ngFor="let claim of claimsListPrint">
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1"> {{claim.TRAVEL_DATE | date:'d/M/y'}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.TYPE}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1" valign="top">
            {{claim.PROJECT_NAME}}/{{claim.SOC}} {{claim.CUSTOMER_NAME}}
          </span>
          <span *ngIf="claim.RowNum==2">
            {{claim.DESCRIPTION}}
          </span>
          <span *ngIf="claim.RowNum==3 && claim.TYPE==='TRV'">
            ({{claim.DISTANCE_KM}}KM * {{currency }}{{claim.RATE_PER_UNIT| number:'1.2-2'}})
          </span>
          <span *ngIf="claim.RowNum==4 && claim.TYPE==='TRV' && claim.TollAmount!==0">
            Toll
          </span>
          <span *ngIf="claim.RowNum==5 && claim.TYPE==='TRV' && claim.ParkingAmount!==0">
            Parking
          </span>
          <span *ngIf="claim.RowNum==6 && claim.TYPE==='TRV' && claim.MealAmount!==0">
            Meal Allowance
          </span>
          <span *ngIf="claim.RowNum==7 && claim.TYPE==='TRV' && claim.AccAmount!==0">
            Accomodation
          </span>
          <span *ngIf="claim.RowNum==3  && claim.TYPE==='OT'">
            Start date/time : {{claim.START_TS | date:'d/M/y HH:mm'}}
          </span>
          <span *ngIf="claim.RowNum==4 && claim.TYPE==='OT'">
            End date / time: {{claim.END_TS | date:'d/M/y HH:mm'}}
          </span>
        </td>

        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.MODE}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.from}}</span>
        </td>
        <td align="left" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">{{claim.to}}</span>
        </td>
        <td align="left" valign="top" *ngIf="claim.ROUND_TRIP==1" bgcolor="#ffffff">
            <span *ngIf="claim.RowNum==1">Y</span>
          <!-- <ion-icon *ngIf="claim.RowNum==1" name="sync"></ion-icon> -->
          <!-- <img *ngIf="claim.RowNum==1" [src]="assets/img/profile_no_preview.png" alt="avatar"> -->
        </td>
        <td align="left" valign="top" *ngIf="claim.ROUND_TRIP==0" bgcolor="#ffffff">
            <span *ngIf="claim.RowNum==1">-</span>
          <!-- <ion-icon *ngIf="claim.RowNum==1" name="undo"></ion-icon> -->
          <!-- <img *ngIf="claim.RowNum==1" [src]="assets/img/profile_no_preview.png" alt="avatar"> -->
        </td>
        <td align="right" valign="top" bgcolor="#ffffff">
          <span *ngIf="claim.RowNum==1">
            {{claim.MILEAGE_AMOUNT | number:'1.2-2'}}
          </span>
          <!--  <span *ngIf="claim.RowNum==2">
                {{claim.DESCRIPTION}}
              </span>
              <span *ngIf="claim.RowNum==3 && claim.TYPE==='TRV'">
                ({{claim.DISTANCE_KM}}KM * RM{{claim.RATE_PER_UNIT}})
              </span> -->
          <span *ngIf="claim.RowNum==4 && claim.TYPE==='TRV' && claim.TollAmount!==0">
            {{claim.TollAmount | number:'1.2-2'}}
          </span>
          <span *ngIf="claim.RowNum==5 && claim.TYPE==='TRV' && claim.ParkingAmount!==0">
            {{claim.ParkingAmount | number:'1.2-2'}}
          </span>
          <span *ngIf="claim.RowNum==6 && claim.TYPE==='TRV' && claim.MealAmount!==0">
            {{claim.MealAmount | number:'1.2-2'}}
          </span>
          <span *ngIf="claim.RowNum==7 && claim.TYPE==='TRV' && claim.AccAmount!==0">
            {{claim.AccAmount | number:'1.2-2'}}
          </span>
          <!-- <span *ngIf="claim.RowNum==3  && claim.TYPE==='OT'">
                  Start date/time : {{claim.START_TS | date:'d/M/y HH:mm'}}
              </span>
              <span *ngIf="claim.RowNum==4 && claim.TYPE==='OT'">
                  End date / time: {{claim.END_TS | date:'d/M/y HH:mm'}}
              </span> -->

        </td>

      </tr>
      <tr>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC" colspan="2">
          <em>TOTAL CLAIM AMOUNT</em>
        </td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
        <td align="left" bgcolor="#B3CCEC">&nbsp;</td>

        <td align="right" bgcolor="#B3CCEC">
          <em>{{totalClaimAmount | number:'1.2-2'}}</em>
        </td>

      </tr>
    </table>
    <br />

    <table width="100%">
      <tr>
        <td width="50%" valign="top">
          <table border="0" bgcolor="#cccccc" style="font-size: 8pt !important;width:100%;">
            <tr style="color:#ffffff;">
              <td colspan="6" align="center" bgcolor="#002060">CLAIMS SUMMARY</td>
              <td align="right" bgcolor="#002060">Amount ({{currency }})</td>
            </tr>
            <tr *ngFor="let claim of claimsListSummary">
              <td align="left" bgcolor="#ffffff">&nbsp;</td>
              <td align="left" bgcolor="#ffffff">{{claim.TRAVEL}}</td>
              <td align="left" bgcolor="#ffffff">{{claim.MILEAGE}} </td>
              <td align="left" colspan="3" bgcolor="#ffffff">{{claim.SHORTFORM}} </td>
              <td align="right" bgcolor="#ffffff">{{claim.AMOUNT| number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
              <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
              <td align="left" bgcolor="#B3CCEC">
                <em>TOTAL CLAIM AMOUNT</em>
              </td>
              <td align="left" bgcolor="#B3CCEC">&nbsp;</td>
              <td colspan="2" align="left" bgcolor="#B3CCEC">&nbsp;</td>
              <td align="right" bgcolor="#B3CCEC">
                <em>{{totalClaimAmount | number:'1.2-2'}}</em>
              </td>
            </tr>

          </table>
        </td>
        <td></td>
        <td width="50%" valign="top">
          <table border="0" bgcolor="#cccccc" style="font-size: 8pt !important;width:100%;">

            <tr style="color:#ffffff;">
              <td align="center" bgcolor="#002060">SOC / Customer Name</td>
              <td align="right" bgcolor="#002060">Amount ({{currency }})</td>
            </tr>

            <tr *ngFor="let i of claimsSocSummary">
              <td align="left" bgcolor="#ffffff" *ngIf="i.SOC!=null">{{i.SOC}}</td>
              <td align="right" bgcolor="#ffffff" *ngIf="i.SOC!=null">{{i.AMOUNT | number:'1.2-2'}}</td>
            </tr>

            <tr>
              <td align="left" bgcolor="#B3CCEC">
                <em>TOTAL CLAIM AMOUNT</em>
              </td>


              <td align="right" bgcolor="#B3CCEC">
                <em>{{totalClaimAmount | number:'1.2-2'}}</em>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>



  </body>
</ion-content>