<!--
  Generated template for the MileagesetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary200">
    <ion-title>{{ 'MILEAGE_SETUP_HEADING' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab mini (click)="AddMileageClick()" [disabled]="button_Add_Disable">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <!--For Display Grid -->
  <ion-list>
    <ion-item>
      <table class="Tabler list">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:60px">{{ 'NO' | translate }}</th>
          <th class="lgl1">{{ 'MILEAGE_CATEGORY' | translate }}</th>
          <th class="lgl1">{{ 'MILEAGE_PER_UNIT' | translate }}</th>
          <th class="lgl1">{{ 'MILEAGE_DATE' | translate }}</th>
          <th class="lgl1" style="width:85px">{{ 'MILEAGE_FLAG' | translate }}</th>
          <th class="lgl1" *ngIf="AdminLogin">{{ 'Tenant' | translate }}</th>
          <th class="lgl1 tblBrRight" style="width:105px">{{ 'ACTION' | translate }}</th>

        </tr>

        <tr class="col7" *ngFor="let mileage of mileages | paginate:{itemsPerPage: 10, currentPage:page, id: 'i' }; let i=index"
          [hidden]="button_View_Disable">
          <td class="lgl1 getHeader" reshead="No.">{{ 10 * (page - 1) + i+1 }}</td>
          <td class="lgl1 getHeader" reshead="Category">{{mileage.CATEGORY}}</td>
          <td class="lgl1 getHeader" reshead="Rate Per Unit">{{mileage.RATE_PER_UNIT | number : '1.2-2'}}</td>
          <td class="lgl1 getHeader" reshead="Effective Date">{{mileage.RATE_DATE | date:'dd/MM/yyyy'}}</td>
          <td class="lgl1 getHeader" reshead="Active Flag">
            <ion-item>
              <ion-toggle *ngIf="mileage.ACTIVATION_FLAG==1" checked=true></ion-toggle>
              <ion-toggle *ngIf="mileage.ACTIVATION_FLAG==0" checked=false></ion-toggle>
            </ion-item>
          </td>
          <td class="lgl1 getHeader" *ngIf="AdminLogin" reshead="Tenant Name">{{mileage.TENANT_ACCOUNT_NAME}}</td>
          <td class="lgl1 getHeader fColor" reshead="Action">
            <button ion-button item-end [disabled]="button_Edit_Disable" (click)="EditClick(mileage.MILEAGE_GUID)">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button item-end [disabled]="button_Delete_Disable" (click)="DeleteClick(mileage.MILEAGE_GUID)">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </td>
        </tr>


      </table>
      <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true"
        autoHide="true">
      </pagination-controls>
    </ion-item>
  </ion-list>
  <!--Display Grid End-->

  <!-- add mileage form start-->
  <div class="blackcontainer" *ngIf="AddMileageClicked">
  </div>
  <div class="popup" padding *ngIf="AddMileageClicked">

    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText" *ngIf="Add_Form">REGISTER NEW MILEAGE</div>
        <div class="icHeaderText" *ngIf="Edit_Form">UPDATE MILEAGE</div>
        <button class="btnR" (click)="CloseMileageClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>

      <ion-list>
        <form [formGroup]="Mileageform">
          <ion-item *ngIf="AdminLogin">
            <ion-label stacked>{{"TENANT"}}</ion-label>
            <ion-select formControlName="TENANT_NAME" [(ngModel)]="Tenant_Add_ngModel" placeholder="{{'Please fill the Tenant'}}">
              <ion-option *ngFor="let tenant of tenants" value="{{tenant.TENANT_GUID}}">{{tenant.TENANT_ACCOUNT_NAME}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'MILEAGE_CATEGORY' | translate }}</ion-label>
            <ion-input type="text" formControlName="CATEGORY" [(ngModel)]="CATEGORY_ngModel_Add" required placeholder="{{'Please fill in the category of the mileage'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'MILEAGE_PER_UNIT' | translate }}</ion-label>
            <ion-input type="number" formControlName="RATE_PER_UNIT" [(ngModel)]="RATE_PER_UNIT_ngModel_Add" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01" placeholder="{{'Please fill in the unit of mileage'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'MILEAGE_DATE' | translate }}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="RATE_DATE" [(ngModel)]="RATE_DATE_ngModel_Add"
              placeholder="{{'Please choose your effective date'}}"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'MILEAGE_FLAG' | translate }}</ion-label>
            <ion-toggle formControlName="ACTIVATION_FLAG" [(ngModel)]="ACTIVATION_FLAG_ngModel_Add"></ion-toggle>
          </ion-item>
          <div class="btn">
            <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Mileageform.valid" (click)="Save()">{{"SUBMIT"
              | translate}}</button>
          </div>
        </form>
      </ion-list>

    </ion-card>

  </div>
  <!-- add mileage form end-->
</ion-content>