
<ion-header>

  <ion-navbar color="primary200">
    <ion-title>{{ "PROFILE_SETUP" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="AddProfileClick()">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>

  <!--For Display Grid -->
  <ion-list>
    <ion-item>
      <table class="Tabler">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:60px">No.</th>
          <th class="lgl1">Profile Name</th>
          <th class="lgl1">XML</th>
          <th class="lgl1 tblBrRight" style="width:105px">Action</th>

        </tr>

        <tr class="col7" *ngFor="let profile of profiles | paginate:{itemsPerPage: 10, currentPage:page, id: 'i' }; let i=index">
          <td class="lgl1">{{ 10 * (page - 1) + i+1 }}</td>
          <td class="lgl1">{{profile.PROFILE_NAME}}</td>
          <td class="lgl1">{{profile.PROFILE_XML}}</td>
          <td class="lgl1 fColor">
            <button ion-button item-end (click)="EditClick(profile.MAIN_PROFILE_GUID)">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button item-end (click)="DeleteClick(profile.MAIN_PROFILE_GUID)">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </td>
        </tr>


      </table>
      <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true" autoHide="true">
      </pagination-controls>
    </ion-item>
  </ion-list>
  <!--Display Grid End-->



  <!-- add Profile form start-->
  <div class="blackcontainer" *ngIf="AddProfileClicked">
  </div>
  <div class="popup" padding *ngIf="AddProfileClicked">

    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText">{{ "REGISTER_NEW_PROFILE" | translate }}</div>
        <button class="btnR" (click)="CloseProfilesClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>

      </ion-card-header>
      <ion-list>
        <form [formGroup]="Profileform">
          <ion-item>
            <ion-label stacked>{{ "PROFILE_NAME" | translate }}</ion-label>
            <ion-input type="text" formControlName="PROFILE_NAME" [(ngModel)]="PROFILENAME_ngModel_Add" placeholder="{{'Please fill in the profile name'}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{ "XML" | translate }}</ion-label>
            <ion-textarea type="text" rows="10" formControlName="PROFILE_XML" [(ngModel)]="XML_ngModel_Add" placeholder="{{'Please fill in the XML'}}"></ion-textarea>
          </ion-item>
          <div class="btn">
            <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Profileform.valid" (click)="Save_Profile()">{{"SUBMIT" | translate}}</button>
          </div>
        </form>
      </ion-list>
    </ion-card>

  </div>
  <!-- add Profile form end-->


  <!-- Edit Profile form start-->
  <div class="blackcontainer" *ngIf="EditProfileClicked">
  </div>
  <div class="popup" padding *ngIf="EditProfileClicked">

    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText">UPDATE PROFILE</div>
        <button class="btnR" (click)="CloseProfilesClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>

      </ion-card-header>
      <ion-list>
        <form [formGroup]="Profileform">
          <ion-item>
            <ion-label stacked>{{ "PROFILE_NAME" | translate }}</ion-label>
            <ion-input type="text" formControlName="PROFILE_NAME" [(ngModel)]="PROFILENAME_ngModel_Edit" placeholder="{{'Please fill in the profile name'}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{ "XML" | translate }}</ion-label>
            <ion-textarea type="text" rows="10" formControlName="PROFILE_XML" [(ngModel)]="XML_ngModel_Edit" placeholder="{{'Please fill in the XML'}}"></ion-textarea>
          </ion-item>
          <div class="btn">
            <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Profileform.valid" (click)="!Update_Profile()">{{"SUBMIT" | translate}}</button>
          </div>
        </form>
      </ion-list>
    </ion-card>

  </div>
  <!-- Edit Profile form end-->
</ion-content>