page-designationsetup {
    .Tabler tr.col7 td {
        padding: 8px;
        text-align: left;
        word-wrap: break-word;
        border: none;
        vertical-align: middle;
        border-bottom: 1px solid gainsboro;
    }
}
