<!--
  Generated template for the TravelclaimPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

    <ion-title>{{ 'TRAVEL_CLAIM_HEADING' | translate }}</ion-title>  


  </ion-navbar>
 
</ion-header>


<ion-content padding>
  <!-- <button ion-button (click)="AddTravelClick()">SUMMARY</button> -->
  <form [formGroup]="Travelform">
      <ion-card>

          <ion-label stacked>{{ "PROJECT_NAME_LABEL" | translate }}</ion-label>
        <ion-searchbar formControlName="project_name" [(ngModel)]="Travel_ProjectName_ngModel" (ionInput)="searchProject($event)" 
          placeholder='{{ "PROJECT_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>


        <ion-list>
          <ion-item-sliding *ngFor="let item of projects">
            <button ion-item (click)="GetSocNo(item.SOC_GUID)">
              <ion-label >{{item.project_name}}<>{{item.soc}}</ion-label>
            </button>
          </ion-item-sliding>
        </ion-list>  
      </ion-card>

      <ion-item>

          <ion-label stacked>{{ "SOC_NUMBER_LABEL" | translate }}</ion-label>
          <ion-input type="text" formControlName="soc_no" disabled="true" [(ngModel)]="Travel_SOC_No_ngModel" 
          placeholder="{{ 'SOC_NUMBER_PLACE_HOLDER' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ "TRAVEL_DATE_LABEL" | translate  }}</ion-label>

        
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="travel_date" max={{validDate}} placeholder="{{ 'TRAVEL_DATE_PLACE_HOLDER' | translate }}"></ion-datetime>
        </ion-item>
    
        <ion-item>

          <ion-label stacked>{{ "START_DT_LABEL" | translate }}</ion-label>

          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="start_DT" max={{validDate}} placeholder="{{ 'START_DATETIME_PLACE_HOLDER' | translate }}"></ion-datetime>
        </ion-item>
    
        <ion-item>

          <ion-label stacked>{{ "END_DT_LABEL" | translate }}</ion-label>

          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="end_DT" max={{validDate}} placeholder="{{ 'END_DATETIME_PLACE_HOLDER' | translate }}"></ion-datetime>
        </ion-item>
    
        <!-- <ion-item>
          <ion-label stacked>{{ "CALENDAR_REF_LABEL" | translate }}</ion-label>
        </ion-item> -->
    
    
    
        <ion-item>

          <ion-label stacked> {{ "ORIGIN_PLACE_LABEL" | translate }} </ion-label>

          <ion-input [(ngModel)]="Travel_From_ngModel" type="text" formControlName="origin" placeholder=" {{ 'ORIGIN_PLACE_PLACE_HOLDER' | translate }} "></ion-input>
          <button ion-button outline item-end icon-left (click)="AddLookupClick()">
            <ion-icon name="eye"></ion-icon>
            {{ "GET_ORIGIN_BUTTON"  }} </button>
        </ion-item>
    
        <ion-item>

          <ion-label stacked> {{ "DESTINATION_PLACE_LABEL" | translate }} </ion-label>

          <ion-input [(ngModel)]="Travel_Destination_ngModel" type="text" formControlName="destination" placeholder=" {{ 'DESTINATION_PLACE_PLACE_HOLDER' | translate }} "></ion-input>
          <button ion-button outline item-end icon-left (click)="AddToLookupClick()">
            <ion-icon name="eye"></ion-icon>
            {{ "GET_DESTINATION_BUTTON"  }} </button>
        </ion-item>
    
        <ion-item>

          <ion-label stacked> {{ "DISTANCE_LABEL" | translate }} </ion-label>

          <ion-input [(ngModel)]="Travel_Distance_ngModel" formControlName="distance" placeholder=" {{ 'DISTANCE_PLACE_HOLDER' | translate }} "></ion-input>
          <button ion-button outline item-end icon-left (click)="GetDistance()">
            <ion-icon name="eye"></ion-icon>
            {{ "GET_DISTANCE_BUTTON" }} </button>
        </ion-item>
    
        <ion-item>

          <ion-label stacked>{{ "TRAVEL_TYPE_LABEL" | translate }}</ion-label>

          <ion-select formControlName="vehicleType" placeholder="{{ 'TRAVEL_TYPE_PLACE_HOLDER' | translate }}">
            <ion-option *ngFor="let vehicle of vehicles" (ionSelect)="SetPrice(vehicle)">{{vehicle.CATEGORY}}</ion-option>
          </ion-select>
        </ion-item>
    
        <ion-item>

          <ion-label stacked> {{ "CLAIM_AMOUNT_LABEL" | translate }} {{ "CURRENCY_NAME_LABEL" | translate }}</ion-label>

          <ion-input type="number" formControlName="vehicleType" [(ngModel)]="Travel_Amount_ngModel" placeholder=" {{ 'CLAIM_AMOUNT_PLACE_HOLDER' | translate }} "></ion-input>
        </ion-item>
    
        <ion-item>

          <ion-label stacked> {{ "DESCRIPTION_LABEL" | translate }} </ion-label>
          <ion-input type="text" formControlName="description" placeholder=" {{ 'DESCRIPTION_PLACE_HOLDER' | translate }} "></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked> {{ "ATTACHMENT_LABEL" | translate }} </ion-label>

    
        </ion-item>
        <div class="btn">
          <button ion-button (click)='save(Travelform.value)' >SUBMIT</button>
        </div>
        <!-- [disabled]="!Travelform.valid" -->

        <a (click)="showAddToll()" *ngIf="MainClaimSaved">
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Add Toll</a>
        <a (click)="showAddParking()" *ngIf="MainClaimSaved">
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Add Parking</a>
    
      </form>
      <div class="blackcontainer" *ngIf="AddLookupClicked">
      </div>
      <div class="popup1" padding *ngIf="AddLookupClicked">
        <ion-card>
          <ion-card-header class="icTitle headerColor-white ">
    
            <div class="icHeaderText">Search Location</div>
            <button class="btnR" (click)="CloseLookupClick()">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </ion-card-header>
          <ion-searchbar (ionInput)="searchLocation($event)" placeholder="Enter Keywords"></ion-searchbar>
          <ion-list>
            <ion-item-sliding *ngFor="let item of currentItems">
              <button ion-item (click)="openItem(item)">
                <ion-label> {{item.description}}</ion-label>
              </button>
            </ion-item-sliding>
          </ion-list>
        </ion-card>
      </div>


    <!-- <ion-item>
            <ion-label stacked>SOC NUMBER</ion-label>
            <ion-select formControlName="soc_no" [(ngModel)]="Travel_SOC_No_ngModel" placeholder="SELECT" (ionChange)="GetSocNo()">
              <ion-option *ngFor="let soc of socs" selected="true">{{soc.SOC_NO}}</ion-option>
            </ion-select>
          </ion-item> -->

    <!-- <ion-item>
      <ion-label stacked>{{"SOC NUMBER"}}</ion-label>
      <ion-input type="text" placeholder="{{'Please click the button to get your soc number'}}"></ion-input>
      <button ion-button outline item-end icon-left (click)="AddLookupClick()">
        <ion-icon name="eye"></ion-icon>
        LOOKUP
      </button>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label stacked>{{"PROJECT NAME"}}</ion-label>
      <ion-input type="text" formControlName="project_name" disabled="true" [(ngModel)]="Travel_ProjectName_ngModel" placeholder="{{'Please fill in the project name'}}"></ion-input>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label stacked>{{"DATE"}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="travel_date" [(ngModel)]="Travel_Date_ngModel" placeholder="{{'Please choose yours date while you go to the place'}}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{"CALENDAR REF."}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label stacked>{{"FROM"}}</ion-label>
      <ion-input type="text" formControlName="from" [(ngModel)]="Travel_From_ngModel" placeholder="{{'Please fill in the the place that you start car'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{"DESTINATION"}}</ion-label>
      <ion-input type="text" formControlName="destination" [(ngModel)]="Travel_Destination_ngModel" placeholder="{{'Please fill in the destination of the Claim'}}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>{{"DISTANCE(KM)"}}</ion-label>
      <ion-input type="number" formControlName="distance" [(ngModel)]="Travel_Distance_ngModel" placeholder="{{'Please choose the distance between the trip'}}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>{{"CLAIM AMOUNT(RM)"}}</ion-label>
      <ion-input type="number" formControlName="claim_amount" [(ngModel)]="Travel_ClaimAmount_ngModel" placeholder="{{'Please fill in the amount of yours Travel Claim'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{"DESCRIPTION"}}</ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="Travel_Description_ngModel" placeholder="{{'Please fill in the description'}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{"ATTACHMENT"}}</ion-label>

    </ion-item> -->

    <!-- <ion-item>
            <ion-label stacked>{{"TOTAL AMOUNT(RM)"}}</ion-label>
            <ion-input type="number" formControlName="total_amount" [(ngModel)]="Travel_TotalAmount_ngModel" placeholder="{{'Please fill in the amount for the total of the Travel Claim'}}"></ion-input>
          </ion-item> -->
    <!-- <div class="btn">
      <button ion-button (click)="save()">SUBMIT</button>
    </div>
  </form> -->




  <!-- add Travel form start-->
  <!-- <div class="blackcontainer" *ngIf="AddTravelClicked">
  </div>
  <div class="popup" padding *ngIf="AddTravelClicked">

    <ion-card class="cm">
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText">    TRAVEL CLAIM HISTORY</div>
        <button class="btnR" (click)="CloseTravelClick()">
          <ion-icon name="md-close"></ion-icon> 
        </button>
      </ion-card-header>
      <ion-list class="scroll">
          <ion-item>
      <table class="Tabler">
        <tr class="colth tColor">
          <th class="lgl1 tblBrLeft" style="width:60px">S.NO</th>
          <th class="lgl1">SOC NUMBER</th>
          <th class="lgl1">FROM</th>
          <th class="lgl1">DESTINATION</th>
          <th class="lgl1">CLAIM AMOUNT(RM)</th>
          <th class="lgl1 tblBrRight" style="width:80px">ACTION</th>

        </tr>

        <tr class="col7">
          <td class="lgl1">1</td>
          <td class="lgl1">CS 001</td>
          <td class="lgl1">KUALA LUMPUR</td>
          <td class="lgl1">KLIA 2</td>
          <td class="lgl1">222</td>
          <td class="lgl1 fColor">
            <button ion-button item-end><ion-icon name="md-create"></ion-icon></button>
            <button ion-button item-end><ion-icon name="md-close"></ion-icon></button>
          </td>
        </tr>


      </table>
    </ion-item>
      </ion-list>
    </ion-card>

  </div> -->
  <!-- add Travel form end-->

    <!-- add lookup form start-->
    <!-- <div class="blackcontainer" *ngIf="AddLookupClicked">
    </div>
    <div class="popup1" padding *ngIf="AddLookupClicked">
      <ion-card>
        <ion-card-header class="icTitle headerColor-white ">
  
          <div class="icHeaderText">SOC LOOKUP</div>
          <button class="btnR" (click)="CloseLookupClick()">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-card-header>
        <ion-list>
  
          <ion-row>
            <ion-searchbar type="text" #filter (keyup)="0" placeholder="SEARCH SOC NUMBER"></ion-searchbar>
          </ion-row>
          <ion-item class="tnUserRow">
            <ion-label>APR10788</ion-label>
  
          </ion-item>
  
          <ion-item class="tnUserRow">
            <ion-label>APR10788</ion-label>
  
          </ion-item>
  
          <ion-item class="tnUserRow">
            <ion-label>APR10788</ion-label>
  
          </ion-item>
          <ion-item class="tnUserRow">
            <ion-label>APR10788</ion-label>
  
          </ion-item>
          <ion-item class="tnUserRow">
            <ion-label>APR10788</ion-label>
  
          </ion-item>
          <ion-item class="tnUserRow">
            <ion-label>APR10788</ion-label>
  
          </ion-item>
  
        
        </ion-list>
      </ion-card>
    </div> -->
    <!-- add lookup form end-->
</ion-content>