<!--
  Generated template for the CustomerSetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary200">
    <ion-title>{{ "CUSTOMER_REGISTRATION" | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary200">
    <ion-searchbar [(ngModel)]="search_ngModel" (ionInput)="search($event)" placeholder='Search'></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="AddCustomerClick()" [disabled]="button_Add_Disable" title="Add">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <table class="Tabler list">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:60px">{{ 'NO' | translate }}</th>
          <th class="lgl1">{{ 'Name' | translate }}</th>
          <!-- <th class="lgl1">{{ 'Location' | translate }}</th> -->
          <th class="lgl1">{{ 'Email' | translate }}</th>
          <th class="lgl1">{{ 'Mobile No' | translate }}</th>
          <!-- style="width:120px"         -->
          <th class="lgl1" style="width:90px" >{{ 'Active Flag' | translate }}</th>
          <th class="lgl1 tblBrRight" style="width:60px" >{{ 'ACTION' | translate }}</th>
          <!-- style="width:80px" -->
        </tr>

        <tr class="col7" *ngFor="let customer of customers | paginate:{itemsPerPage: 10, currentPage:page, id: 'i' }; let i=index"
          [hidden]="button_View_Disable">
          <td class="lgl1 getHeader" reshead="No.">{{ 10 * (page - 1) + i+1 }}</td>
          <td class="lgl1 getHeader" reshead="Name" text-wrap>{{customer.CUSTOMER_NAME}}</td>
          <!-- <td class="lgl1" text-wrap>{{customer.CUSTOMER_LOCATION_NAME}}</td> -->
          <td class="lgl1 getHeader" reshead="Email." text-wrap>{{customer.EMAIL}}</td>
          <td class="lgl1 getHeader" reshead="Mobile No." text-wrap>{{customer.CONTACT_PERSON_MOBILE_NO}}</td>
          <td class="lgl1 getHeader" reshead="Active Flag">
            <ion-item>
              <ion-toggle *ngIf="customer.ACTIVE_FLAG=='A'" checked=true (ionChange)="CustomerActivation(customer.CUSTOMER_GUID, true)"></ion-toggle>
              <ion-toggle *ngIf="customer.ACTIVE_FLAG=='D'" checked=false (ionChange)="CustomerActivation(customer.CUSTOMER_GUID, false)"></ion-toggle>
            </ion-item>
          </td>
          <td class="lgl1 getHeader fColor" reshead="Action">
            <button ion-button item-end [disabled]="button_Edit_Disable" (click)="EditClick(customer.CUSTOMER_GUID, customer.CUSTOMER_LOCATION_GUID)"
              title="Edit">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button item-end [disabled]="button_Delete_Disable" (click)="DeleteClick(customer.CUSTOMER_GUID, customer.CUSTOMER_LOCATION_GUID)"
              title="Delete" style="display: none;">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </td>
        </tr>

      </table>
      <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true"
        autoHide="true">
      </pagination-controls>
    </ion-item>
  </ion-list>

  <div class="blackcontainer" *ngIf="AddCustomerClicked">
  </div>
  <div class="popup4" padding *ngIf="AddCustomerClicked">

    <ion-card class="cm">
      <ion-card-header class="icTitle headerColor-white ">

        <!-- <div class="icHeaderText" *ngIf="Add_Form">REGISTER NEW CUSTOMER</div>
        <div class="icHeaderText" *ngIf="Edit_Form">UPDATE CUSTOMER</div> -->

        <div class="icHeaderText">{{TitleHeader}}</div>

        <button class="btnR" (click)="CloseCustomerClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>

      </ion-card-header>

      <ion-list class="scroll">
        <form [formGroup]="Customerform">
          <ion-item *ngIf="AdminLogin">
            <ion-label stacked>{{"TENANT" | translate}}</ion-label>
            <ion-select formControlName="TENANT_NAME" [(ngModel)]="Tenant_Add_ngModel" placeholder="{{'Please fill the Tenant'}}">
              <ion-option *ngFor="let tenant of tenants" value="{{tenant.TENANT_GUID}}">{{tenant.TENANT_ACCOUNT_NAME}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked><span style="color: red">*</span>{{ "CUSTOMER_SETUP_NAME" | translate }}</ion-label>
            <ion-input type="text" formControlName="customer_name" [(ngModel)]="CUSTOMER_NAME_ngModel_Add" placeholder="{{'Please fill the project name'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "CUSTOMER_EMAIL" | translate }}</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="EMAIL_ngModel_Add" placeholder="{{'Please fill the email'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "CUSTOMER_MOBILE_NO" | translate }}</ion-label>
            <ion-input type="number" formControlName="contact_person_mobile_no" [(ngModel)]="CONTACT_PERSON_MOBILE_NO_ngModel_Add"
              placeholder="{{'Please fill the contact person mobile no'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "CONTACT_PERSON" | translate }}</ion-label>
            <ion-input type="text" formControlName="contact_person" [(ngModel)]="CONTACT_PERSON_ngModel_Add"
              placeholder="{{'Please fill the contact person'}}"></ion-input>
          </ion-item>

          <ion-item style="display: none">
            <ion-label stacked>{{ "LOCATION_NAME" | translate }}</ion-label>
            <ion-input type="text" formControlName="location_name" [(ngModel)]="LOCATION_NAME_ngModel_Add" placeholder="{{'Please fill the location name'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "REG_NO" | translate }}</ion-label>
            <ion-input type="text" formControlName="registration_no" [(ngModel)]="REGISTRATION_NO_ngModel_Add"
              placeholder="{{'Please fill the registration number'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "ADDRESS 1" | translate }}</ion-label>
            <ion-input type="text" formControlName="address1" [(ngModel)]="ADDRESS1_ngModel_Add" placeholder="{{'Please fill the Address 1'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "ADDRESS 2" | translate }}</ion-label>
            <ion-input type="text" formControlName="address2" [(ngModel)]="ADDRESS2_ngModel_Add" placeholder="{{'Please fill the Address 2'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "ADDRESS 3" | translate }}</ion-label>
            <ion-input type="text" formControlName="address3" [(ngModel)]="ADDRESS3_ngModel_Add" placeholder="{{'Please fill Address 3'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "CONTACT 1" | translate }}</ion-label>
            <ion-input type="number" formControlName="contact_no1" [(ngModel)]="CONTACT_NO1_ngModel_Add" placeholder="{{'Please fill the contact no'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "CONTACT 2" | translate }}</ion-label>
            <ion-input type="number" formControlName="contact_no2" [(ngModel)]="CONTACT_NO2_ngModel_Add" placeholder="{{'Please fill the contact no'}}"></ion-input>
          </ion-item>

          <ion-item style="display: none">
            <ion-label stacked>{{ "DIVISION" | translate }}</ion-label>
            <ion-input type="text" formControlName="division" [(ngModel)]="DIVISION_ngModel_Add" placeholder="{{'Please fill the division'}}"></ion-input>
          </ion-item>

          <div class="btn">
            <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Customerform.valid" (click)="Save()">{{ "SUBMIT_BUTTON" | translate }}</button>
          </div>

        </form>
      </ion-list>
    </ion-card>

  </div>
</ion-content>