<!--
  Generated template for the OvertimeclaimPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>OVERTIME CLAIM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="blackcontainer">

    <div class="popup" padding>

      <ion-card class="cm">
        <ion-card-header class="icTitle headerColor-white ">

          <div class="icHeaderText">APPLY NEW OVERTIME CLAIM</div>

        </ion-card-header>
        <ion-list class="scroll">
          <form [formGroup]="OTform">
            <ion-item>
              <ion-label stacked>{{"DATE"}}</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="ot_date" [(ngModel)]="OT_Date_ngModel" placeholder="{{'Please choose yours date while you OT'}}"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label stacked>{{"SOC NUMBER"}}</ion-label>
              <ion-input type="text" placeholder="{{'Please click the button to get your soc number'}}"></ion-input>
              <button ion-button outline item-end icon-left (click)="AddLookupClick()">
                <ion-icon name="eye"></ion-icon>
                LOOKUP
              </button>
            </ion-item>



            <ion-item>
              <ion-label stacked>{{"CUSTOMER NAME"}}</ion-label>
              <ion-input type="text" formControlName="customer_name" [(ngModel)]="OT_CustomerName_ngModel" placeholder="{{'Please fill in the name of yours customer'}}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>{{"PROJECT NAME"}}</ion-label>
              <ion-input type="text" formControlName="project_name" [(ngModel)]="OT_ProjectName_ngModel" placeholder="{{'Please fill in the name of yours project'}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>{{"START TIME"}}</ion-label>
              <ion-datetime displayFormat="HH:mm:ss" formControlName="start_time" [(ngModel)]="OT_StartTime_ngModel" placeholder="{{'Please choose yours starting overtime'}}"></ion-datetime>
            </ion-item>


            <ion-item>
              <ion-label stacked>{{"END TIME"}}</ion-label>
              <ion-datetime displayFormat="HH:mm:ss" formControlName="end_time" [(ngModel)]="OT_EndTime_ngModel" placeholder="{{'Please choose yours ending overtime'}}"></ion-datetime>
            </ion-item>


            <ion-item>
              <ion-label stacked>{{"CLAIM AMOUNT(RM)"}}</ion-label>
              <ion-input type="number" formControlName="claim_amount" [(ngModel)]="OT_ClaimAmount_ngModel" placeholder="{{'Please fill in the amount of yours Overtime Claim'}}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>{{"CALENDAR REF."}}</ion-label>

            </ion-item>

            <ion-item>
              <ion-label stacked>{{"ATTACHMENT"}}</ion-label>

            </ion-item>

            <div class="btn">
              <button ion-button (click)="save()">SUBMIT</button>
            </div>

          </form>
        </ion-list>
      </ion-card>

    </div>
  </div>

  <!-- add lookup form start-->
  <div class="blackcontainer" *ngIf="AddLookupClicked">
  </div>
  <div class="popup" padding *ngIf="AddLookupClicked">

    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText">SOC LOOKUP</div>
        <button class="btnR" (click)="CloseLookupClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-list>
          <table class="Tabler">
              <tr class="colth tColor">
                <th class="lgl1 tblBrLeft" style="width:60px">S.NO</th>
                <th class="lgl1">SOC NUMBER</th>
                <th class="lgl1">FROM</th>
                <th class="lgl1">DESTINATION</th>
                <th class="lgl1">CLAIM AMOUNT(RM)</th>
                <th class="lgl1 tblBrRight" style="width:80px">ACTION</th>
      
              </tr>
      
              <tr class="col7">
                <td class="lgl1">1</td>
                <td class="lgl1">CS 001</td>
                <td class="lgl1">KUALA LUMPUR</td>
                <td class="lgl1">KLIA 2</td>
                <td class="lgl1">222</td>
                <td class="lgl1 fColor">
                  <button ion-button item-end><ion-icon name="md-create"></ion-icon></button>
                  <button ion-button item-end><ion-icon name="md-close"></ion-icon></button>
                </td>
              </tr>
      
      
            </table>
      </ion-list>
    </ion-card>
  </div>
  <!-- add lookup form end-->

</ion-content>