<ion-header>
  <ion-navbar color="primary200">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ENTERTAINMENT_CLAIM_HEADING' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="claimFor" color="primary500">
    <ion-segment-button value="seg_project" (click)="claimForChanged()">
      {{"PROJECT_TITLE" | translate }}
    </ion-segment-button>
    <ion-segment-button value="seg_customer" (click)="claimForChanged()">
      {{"CUSTOMER_TITLE" | translate }}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="claimFor">
    <div *ngSwitchDefault>
      <ion-item text-wrap>
        <ion-label color="primary500" floating> {{ "CUSTOMER_NAME_LABEL" | translate }} </ion-label>
        <ion-textarea (click)="CustomerLookup()" [ngModelOptions]="{standalone: true}" [(ngModel)]="Customer_Lookup_ngModel" type="text"></ion-textarea>
      </ion-item>
    </div>
    <div *ngSwitchCase="'seg_project'">
      <ion-item text-wrap style="width:80%;display: inline-block;">
        <ion-label color="primary500" floating> {{ "PROJECT_NAME_LABEL" | translate }} </ion-label>
        <ion-textarea (click)="ProjectLookup()" [ngModelOptions]="{standalone: true}" [(ngModel)]="Project_Lookup_ngModel" [ngModelOptions]="{standalone: true}"
          type="text"></ion-textarea>
      </ion-item>
      <ion-item style="width:19%;display: inline-block;">
        <ion-label floating>{{ "SOC_NUMBER_LABEL" | translate }}</ion-label>
        <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="Entertainment_SOC_No_ngModel" [ngModelOptions]="{standalone: true}"
          type="text" disabled="true"></ion-input>
      </ion-item>
    </div>
  </div>

  <form [formGroup]="Entertainmentform">
    <ion-item class="fuha">
      <ion-label color="primary500" floating>{{ "ENTERTAINMENT_DATE_LABEL" | translate }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Entertainment_Date_ngModel" formControlName="travel_date" max={{validDate}}></ion-datetime>
    </ion-item>

    <ion-item class="fuha">

      <ion-label color="primary500" floating> {{ "CLAIM_AMOUNT_LABEL" | translate }} {{currency }}</ion-label>
      <ion-input type="text"  (change)='getCurrency($event.target.value)' formControlName="claim_amount" [(ngModel)]="Entertainment_Amount_ngModel">
      </ion-input>
   </ion-item>    
  <!-- <ion-item *ngIf="!Entertainmentform.controls.claim_amount.valid  && (Entertainmentform.controls.claim_amount.dirty)">
    <p style="color: red; text-align:right;margin-right: 34%;">Amount is {{min_claim_amount}} - {{max_claim_amount}} RM.</p>
</ion-item> -->


    <ion-item>
      <ion-label color="primary500" floating> {{ "DESCRIPTION_LABEL" | translate }} </ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="Entertainment_Description_ngModel"></ion-input>
    </ion-item>

    <ion-item class="text">
      <ion-label>Attachment :</ion-label>
      <ion-input type="file" id="avatar1" (change)="ProfileImageDisplay($event, 'avatar1')" #fileInput1></ion-input>
      <!-- <button ion-button color="primary500" item-end (click)="saveIm()" [disabled]="!chooseFile">Upload image</button> -->
      <!-- <ion-button ion-button type="button" (click)="clearFile('avatar1')">clear file> </ion-button> -->
    </ion-item>

    <div *ngIf="isImage">
      <img src="{{ProfileImage}}" style="width: 20%">
    </div>

    <div *ngIf="imageURLEdit!==null">
      <!-- <button ion-button outline item-start icon-left (click)="DisplayImage(imageURLEdit)" *ngIf="imageURLEdit!==null">
        View Receipt
      </button> -->
      <a href={{imageURLEdit}} target='_blank'>View Receipt</a> 
    </div>

    <div class="btn">
      <button ion-button color="primary500" (click)='submitAction(Entertainmentform.value)' [disabled]="(Entertainmentform.valid && !ImageUploadValidation) || !Entertainmentform.valid">{{ 'SUBMIT'}}</button>
    </div>
    <!-- <ion-item *ngIf="!Entertainmentform.controls.claim_amount.valid  && (Entertainmentform.controls.claim_amount.dirty)">
      <p style="color: red; text-align:right;margin-right: 34%;">Claim amount should be {{currency}} {{min_claim_amount}} - {{max_claim_amount}}</p>
  </ion-item> -->
    </form>
  <div class="blackcontainer" *ngIf="displayImage">
  </div>
  <div class="popup1" padding *ngIf="displayImage">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">Receipt</div>
        <button class="btnR" (click)="CloseDisplayImage()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <img style="width: 50%" height="100%" src={{imageURL}} *ngIf="imageURL!==null  && isImage">
      <a href={{imageURL}} *ngIf="!isImage" target=_ blank>VIEW</a>

      <!-- <img style="width: 50%" height="100%" src={{imageURL}} *ngIf="imageURL!==null"> -->
    </ion-card>
  </div>

  <div class="blackcontainer" *ngIf="ProjectLookupClicked">
  </div>
  <div class="popup1" padding *ngIf="ProjectLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "PROJECT_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseProjectLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="Entertainment_ProjectName_ngModel" (ionInput)="searchProject($event)" placeholder='{{ "PROJECT_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-scroll style="height:66vh;" scrollY="true">
        <ion-list>
          <div *ngFor="let item of projects">
            <button ion-item (click)="GetSocNo(item)">
              <ion-label text-wrap>{{item.project_name}}
                <!-- <>{{item.soc}}</ion-label> -->
                [{{item.soc}}]</ion-label>
            </button>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-card>
  </div>

  <div class="blackcontainer" *ngIf="CustomerLookupClicked">
  </div>
  <div class="popup1" padding *ngIf="CustomerLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "CUSTOMER_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseCustomerLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="Entertainment_ProjectName_ngModel" (ionInput)="searchCustomer($event)" placeholder='{{ "CUSTOMER_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-scroll style="height:66vh;" scrollY="true">
        <ion-list>
          <div *ngFor="let item of customers">
            <button ion-item (click)="GetCustomer(item.CUSTOMER_GUID,item.NAME)">
              <ion-label text-wrap>{{item.NAME}}</ion-label>
            </button>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-card>
  </div>
</ion-content>