<ion-header>
  <ion-navbar color="primary500">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ENTERTAINMENT_CLAIM_HEADING' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-segment [(ngModel)]="claimFor" color="primary500">
        <ion-segment-button value="seg_customer" (click)="claimForChanged()">
          {{"CUSTOMER_TITLE" | translate }}
        </ion-segment-button>
        <ion-segment-button value="seg_project" (click)="claimForChanged()">
          {{"PROJECT_TITLE" | translate }}
        </ion-segment-button>
      </ion-segment>
    
      <div [ngSwitch]="claimFor">
        <div *ngSwitchDefault>         
          <ion-item>
            <ion-label color="primary500" stacked> {{ "CUSTOMER_NAME_LABEL" | translate }} </ion-label>
            <ion-input (click)="CustomerLookup()" [ngModelOptions]="{standalone: true}" [(ngModel)]="Customer_Lookup_ngModel" type="text"></ion-input>
          </ion-item>
        </div>
        <div *ngSwitchCase="'seg_project'">        
          <ion-item >
            <ion-label color="primary" stacked> {{ "PROJECT_NAME_LABEL" | translate }} </ion-label>
            <ion-input (click)="ProjectLookup()" [ngModelOptions]="{standalone: true}" [(ngModel)]="Project_Lookup_ngModel" [ngModelOptions]="{standalone: true}"
              type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>{{ "SOC_NUMBER_LABEL" | translate }}</ion-label>
            <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="Entertainment_SOC_No_ngModel" [ngModelOptions]="{standalone: true}"
              type="text" disabled="true"></ion-input>
          </ion-item>
        </div>
      </div>
    
    <form [formGroup]="Entertainmentform">
        <ion-item>
            <ion-label color="primary" stacked>{{ "ENTERTAINMENT_DATE_LABEL" | translate }}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Entertainment_Date_ngModel" formControlName="travel_date" max={{validDate}}
              placeholder="{{ 'DATE_PLACE_HOLDER' | translate }}"></ion-datetime>
          </ion-item>

    <ion-item>
      <ion-label color="primary" stacked> {{ "CLAIM_AMOUNT_LABEL" | translate }} {{ "CURRENCY_NAME_LABEL" | translate }}</ion-label>
      <ion-input type="number" (change)='getCurrency($event.target.value)' formControlName="claim_amount" 
      [(ngModel)]="Entertainment_Amount_ngModel" placeholder=" {{ 'CLAIM_AMOUNT_PLACE_HOLDER' | translate }} "></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked> {{ "DESCRIPTION_LABEL" | translate }} </ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="Entertainment_Description_ngModel" placeholder=" {{ 'DESCRIPTION_PLACE_HOLDER' | translate }} "></ion-input>
    </ion-item>

    <!-- <ion-item>
      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
      <button ion-button type="button" (click)="clearFile()">clear file</button>
    </ion-item> -->

    <ion-item>
        <!-- <img style="width: 25%" height="50%" src={{editImage}} *ngIf="editImage!==null"> -->
      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
      <button ion-button type="primary"  (click)="saveIm()" [disabled]= "!chooseFile">upload image</button>      
    </ion-item>
    <!-- <img style="width: 25%" height="50%" src={{editImage}} *ngIf="editImage!==null"> -->
    <img style="width: 25%" height="50%" src={{imageURLEdit}} *ngIf="imageURLEdit!==null">
   


    <div class="btn">     
       <button ion-button color="primary500" (click)='submitAction(Entertainmentform.value)' [disabled]="(Entertainmentform.valid && !ImageUploadValidation) || !Entertainmentform.valid" >{{ 'SUBMIT'}}</button>
    </div>
  </form>

  <div class="blackcontainer" *ngIf="ProjectLookupClicked">
  </div>
  <div class="popup" padding *ngIf="ProjectLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "PROJECT_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseProjectLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="Entertainment_ProjectName_ngModel" (ionInput)="searchProject($event)" placeholder='{{ "PROJECT_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let item of projects">
          <button ion-item (click)="GetSocNo(item)">
            <ion-label>{{item.project_name}}
              <>{{item.soc}}</ion-label>
          </button>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>

  <div class="blackcontainer" *ngIf="CustomerLookupClicked">
  </div>
  <div class="popup" padding *ngIf="CustomerLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "CUSTOMER_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseCustomerLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="Entertainment_ProjectName_ngModel" (ionInput)="searchCustomer($event)" placeholder='{{ "CUSTOMER_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let item of customers">
          <button ion-item (click)="GetCustomer(item.CUSTOMER_GUID,item.NAME)">
            <ion-label>{{item.NAME}}</ion-label>
          </button>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>

  <ion-fab bottom right>
      <button ion-fab  mini color="secondary400">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab (click)='NavigateTravelClaim()'>
          <ion-icon name="car"></ion-icon>
          <ion-label>Travel Claim</ion-label>
        </button>
        <button ion-fab>
          <ion-icon name="help"></ion-icon>
          <ion-label>Help</ion-label>
        </button>
    
      </ion-fab-list>
    </ion-fab>

</ion-content>

