<!--
  Generated template for the EntertainmentclaimPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <div class="headerInfo">
      <ion-fab top right>
        <button ion-fab mini>
          <ion-icon name="settings"></ion-icon>
        </button>
        <ion-fab-list class="settingBtnFab" side="left">
          <button ion-fab color="primary" [class.menuHide]="translateToMalayClicked" (click)="translateToMalay()">ML</button>
        </ion-fab-list>
        <ion-fab-list class="settingBtnFab" side="bottom">
          <button ion-fab color="primary" [class.menuHide]="translateToEnglishClicked" (click)="translateToEnglish()">ENG</button>
        </ion-fab-list>
      </ion-fab>
    </div>
    <ion-title>{{ 'ENTERTAINMENT_CLAIM_HEADING' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="claimFor" (ionChange)="claimForChanged()">

    <ion-list-header>
      Select Entertainment Claim For:
    </ion-list-header>

    <ion-item>
      <ion-label>Customer</ion-label>
      <ion-radio value="customer" checked="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Project</ion-label>
      <ion-radio value="project"></ion-radio>
    </ion-item>
  </ion-list>

  <form [formGroup]="Entertainmentform">

    <ion-item>
      <ion-label stacked>{{ "ENTERTAINMENT_DATE_LABEL" | translate }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Travel_Date_ngModel" formControlName="travel_date" max={{validDate}}
        placeholder="{{ 'TRAVEL_DATE_PLACE_HOLDER' | translate }}"></ion-datetime>
    </ion-item>

    <div *ngIf="claimFor=='project'">

      <ion-item>
        <ion-label stacked> {{ "PROJECT_NAME_LABEL" | translate }} </ion-label>
        <ion-input [(ngModel)]="Project_Lookup_ngModel" [ngModelOptions]="{standalone: true}" type="text" placeholder=" {{ 'PROJECT_LOOKUP_PLACE_HOLDER' | translate }} "></ion-input>
        <button ion-button outline item-end icon-left (click)="ProjectLookup()">
          <ion-icon name="eye"></ion-icon>
          {{ "PROJECT_LOOKUP_BUTTON" | translate }} </button>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ "SOC_NUMBER_LABEL" | translate }}</ion-label>
        <ion-input [(ngModel)]="Travel_SOC_No_ngModel" [ngModelOptions]="{standalone: true}" type="text" disabled="true" placeholder="{{ 'SOC_NUMBER_PLACE_HOLDER' | translate }}"></ion-input>
      </ion-item>
    </div>


    <div *ngIf="claimFor=='customer'">


      <ion-item>
        <ion-label stacked> {{ "CUSTOMER_NAME_LABEL" | translate }} </ion-label>
        <ion-input [(ngModel)]="Customer_Lookup_ngModel" [ngModelOptions]="{standalone: true}" type="text" placeholder=" {{ 'CUSTOMER_NAME_PLACE_HOLDER' | translate }} "></ion-input>
        <button ion-button outline item-end icon-left (click)="CustomerLookup()">
          <ion-icon name="eye"></ion-icon>
          {{ "CUSTOMER_LOOKUP_BUTTON" | translate }} </button>
      </ion-item>
    </div>


    <ion-item>
      <ion-label stacked> {{ "CLAIM_AMOUNT_LABEL" | translate }} {{ "CURRENCY_NAME_LABEL" | translate }}</ion-label>

      <ion-input type="number" formControlName="vehicleType" [(ngModel)]="Travel_Amount_ngModel" placeholder=" {{ 'CLAIM_AMOUNT_PLACE_HOLDER' | translate }} "></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked> {{ "DESCRIPTION_LABEL" | translate }} </ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="Travel_Description_ngModel" placeholder=" {{ 'DESCRIPTION_PLACE_HOLDER' | translate }} "></ion-input>
    </ion-item>


    <ion-item>
      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
      <button ion-button type="button" (click)="clearFile()">clear file</button>
    </ion-item>



    <div class="btn">     
       <button ion-button (click)='saveIm()' [disabled]="Entertainmentform.invalid || loading" >{{ 'SUBMIT'}}</button>
    </div>



  </form>

  <div class="blackcontainer" *ngIf="ProjectLookupClicked">
  </div>
  <div class="popup" padding *ngIf="ProjectLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "PROJECT_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseProjectLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="Travel_ProjectName_ngModel" (ionInput)="searchProject($event)" placeholder='{{ "PROJECT_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let item of projects">
          <button ion-item (click)="GetSocNo(item)">
            <ion-label>{{item.project_name}}
              <>{{item.soc}}</ion-label>
          </button>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>

  <div class="blackcontainer" *ngIf="CustomerLookupClicked">
  </div>
  <div class="popup" padding *ngIf="CustomerLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "CUSTOMER_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseCustomerLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="Travel_Customer_ngModel" (ionInput)="searchCustomer($event)" placeholder='{{ "CUSTOMER_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let item of customers">
          <button ion-item (click)="GetCustomer(item.CUSTOMER_GUID,item.NAME)">
            <ion-label>{{item.NAME}}</ion-label>
          </button>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>
</ion-content>