<!--
  Generated template for the ClaimhistorydetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary200">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="FinanceLogin">{{ "CLAIM_SUMMARY_DETAILS" | translate }}</ion-title>
    <ion-title *ngIf="!FinanceLogin">{{ "SUPERIOR" | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary200">
    <ion-searchbar [(ngModel)]="searchboxValue"  (ionChange)="onSearchInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="ExportToExcel($event)" title="Export to excel">
      <ion-icon name="download"></ion-icon>
    </button>
  </ion-fab>

  <ion-item class="fuha" *ngIf="!FinanceLogin">

    <ion-label>{{ "CLAIM_DEPARTMENT" | translate }}</ion-label>
    <ion-select interface="popover" [(ngModel)]="ddlDep" (ionChange)="BindEmployeesbyDepartment(ddlDept.value)" #ddlDept>
      <ion-option [value]="All" [selected]="true">All</ion-option>
      <ion-option *ngFor="let dept of deptList" [value]="dept.DEPARTMENT_GUID">{{dept.NAME}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="fuha" *ngIf="!FinanceLogin">
    <ion-label>{{ "CLAIM_USER_NAME" | translate }}</ion-label>
    <ion-select interface="popover" [(ngModel)]="ddlName" #ddlEmployee>
      <ion-option [value]="All" [selected]="true">All</ion-option>
      <ion-option *ngFor="let emp of employeeList" [value]="emp.USER_GUID">{{emp.FULLNAME}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="fuha" *ngIf="!FinanceLogin">
    <ion-label>{{ "YEAR" | translate }}</ion-label>
    <ion-select [(ngModel)]="currentYear" interface="popover" #ddlYear>
      <ion-option *ngFor="let year of yearsList" [value]="year">{{year}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="fuha" *ngIf="!FinanceLogin">
    <ion-label>{{ "CLAIM_MONTH" | translate }}</ion-label>
    <ion-select interface="popover" [(ngModel)]="ddlMon" #ddlmonth>
      <ion-option [value]="All" [selected]="true">All</ion-option>
      <ion-option value="Jan">Jan</ion-option>
      <ion-option value="Feb">Feb</ion-option>
      <ion-option value="Mar">Mar</ion-option>
      <ion-option value="Apr">Apr</ion-option>
      <ion-option value="May">May</ion-option>
      <ion-option value="Jun">Jun</ion-option>
      <ion-option value="Jul">Jul</ion-option>
      <ion-option value="Aug">Aug</ion-option>
      <ion-option value="Sep">Sep</ion-option>
      <ion-option value="Oct">Oct</ion-option>
      <ion-option value="Nov">Nov</ion-option>
      <ion-option value="Dec">Dec</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="fuha">
    <ion-label>{{ "CLAIM_TYPE" | translate }}</ion-label>
    <ion-select interface="popover" [(ngModel)]="ddlClaim" #ddlClaimTypes>
      <ion-option [value]="All" [selected]="true">All</ion-option>
      <ion-option *ngFor="let claimType of claimTypeList" [value]="claimType.CLAIM_TYPE_GUID">{{claimType.NAME}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="fuha">
    <ion-label>{{ "LIST_STATUS" | translate }}</ion-label>
    <ion-select interface="popover" [(ngModel)]="ddlSta" #ddlStatus>
      <ion-option [value]="All" [selected]="true">All</ion-option>
      <ion-option [value]="Paid">Paid</ion-option>
      <ion-option [value]="Pending_Superior">Pending Superior</ion-option>
      <ion-option [value]="Pending_Finance_Validation">Pending Finance Validation</ion-option>
      <ion-option [value]="Pending_Payment">Pending Payment</ion-option>
      <ion-option [value]="Superior_Rejected">Superior Rejected</ion-option>
      <ion-option [value]="Finance_Rejected">Finance Rejected</ion-option>
      <ion-option [value]="Payment_Rejected">Payment Rejected</ion-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <button ion-button item-end [disabled]="!btnSearch" (click)="SearchClaimsData()">Search</button>
  </ion-item>
  <!-- <ion-item>
    <button ion-button item-end (click)="SearchClaimsData('All','All','All',ddlClaimTypes.value,ddlStatus.value,'All')">Search</button>
  </ion-item> -->


  <div *ngIf="FinanceLogin">
    <ion-item *ngFor="let userdetail of userdetails" class="fuha">
      <ion-label>{{ "CLAIM_HISTORY_NAME" | translate }} : {{userdetail.FULLNAME}}</ion-label>

    </ion-item>
    <ion-item *ngFor="let userdetail of userdetails" class="fuha">

      <ion-label>{{ "CLAIM_HISTORY_DEPARTMENT" | translate }} : {{userdetail.DEPARTMENT}}</ion-label>
    </ion-item>

    <ion-item *ngFor="let userdetail of userdetails" class="fuha">
      <ion-label>{{ "CLAIM_HISTORY_DESIGNATION" | translate }} : {{userdetail.DESIGNATION}} </ion-label>
    </ion-item>
    <ion-item *ngFor="let userdetail of userdetails" class="fuha">

      <ion-label>{{ "CLAIM_HISTORY_MONTH" | translate }} : {{this.month}}</ion-label>

    </ion-item>

  </div>

  <ion-list>
    <ion-item>
      <table class="Tabler list ">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:60px">No.</th>
          <th class="lgl1" *ngIf="!FinanceLogin">Name</th>
          <th class="lgl1" *ngIf="!FinanceLogin">Department</th>
          <th class="lgl1" *ngIf="!FinanceLogin" style="width:60px">Month</th>

          <th class="lgl1">Claim Type</th>
          <th class="lgl1" style="width:120px">Date</th>
          <th class="lgl1"style="width:120px">Status</th>
          <th class="lgl1"style="width:100px">Remarks</th>
          <!-- <th class="lgl1">STAGE</th> -->
          <th class="lgl1" style="width:90px">Amount({{currency }})</th>
          <th class="lgl1 tblBrRight" style="width:60px">Action</th>
        </tr>

        <tr class="col7" *ngFor="let claimhistorydetail of claimhistorydetails; let i=index">
          <td class="lgl1 getHeader" reshead="No.">{{i+1}}</td>
          <td class="lgl1 getHeader" reshead="Name" *ngIf="!FinanceLogin" text-wrap>{{claimhistorydetail.FULLNAME}}</td>
          <td class="lgl1 getHeader" reshead="Department" *ngIf="!FinanceLogin" text-wrap>{{claimhistorydetail.DEPARTMENT}}</td>
          <td class="lgl1 getHeader" reshead="Month" *ngIf="!FinanceLogin">{{claimhistorydetail.MONTH}}</td>

          <td class="lgl1 getHeader" *ngIf="FinanceLogin" reshead="Claim Type">{{claimhistorydetail.CLAIMTYPE}}</td>
          <td class="lgl1 getHeader" *ngIf="!FinanceLogin" reshead="Claim Type">{{claimhistorydetail.CLAIM_TYPE}}</td>
          <td class="lgl1 getHeader" reshead="Date">{{claimhistorydetail.TRAVEL_DATE | date: 'dd/MM/yyyy'}}</td>
          <td class="lgl1 getHeader" reshead="Status" text-wrap>{{claimhistorydetail.STATUS}}</td>
          <td class="lgl1 getHeader" reshead="Remarks" text-wrap>{{claimhistorydetail.REMARKS}}</td>
          <!-- <td class="lgl1">{{claimhistorydetail.STAGE}}</td> -->
          <td class="lgl1 getHeader" reshead="currency">{{claimhistorydetail.CLAIM_AMOUNT | number:'1.2-2'}}</td>
          <td class="lgl1 getHeader fColor" reshead="Action">
            <button ion-button item-end (click)="ClaimNavigation(claimhistorydetail.STAGE_GUID,claimhistorydetail.CLAIM_REQUEST_GUID, claimhistorydetail.PROFILE_LEVEL_MAIN, claimhistorydetail.CLAIM_TYPE_GUID,1)">
              <ion-icon name="md-eye"></ion-icon>
            </button>
          </td>
        
        </tr>


      </table>
      <!-- <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true" autoHide="true"> -->
      <!-- </pagination-controls> -->
    </ion-item>
  </ion-list>

  <!-- Popup for Export to Excel Starts-->
  <div class="blackcontainer" *ngIf="ExportExcelClicked">
  </div>
  <div class="popup4" padding *ngIf="ExportExcelClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText">EXPORT TO EXCEL</div>

        <button class="btnR" (click)="CloseExportExcel()">
          <ion-icon name="md-close"></ion-icon>
        </button>

      </ion-card-header>
      <ion-list>
        <div style="width:100%; display:inline-table !important;">

          <ion-card>
            <div>
              <ion-list>
                <ion-item *ngFor="let ExcelColumn of ExcelColumns">
                  <ion-label>{{ExcelColumn.Columns}}</ion-label>
                  <ion-checkbox color="secondary" checked="false" (ionChange)="SelectColumn($event, ExcelColumn)" item-end></ion-checkbox>
                </ion-item>
              </ion-list>
            </div>
          </ion-card>
        </div>
      </ion-list>
      <div class="btn">
        <button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="SubmitExportExcel()">{{"SUBMIT" | translate}}</button>
      </div>
    </ion-card>

  </div>
  <!-- Popup for Export to Excel End-->


</ion-content>