page-banksetup {

}

.blackcontainer{
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background:black;
    position: fixed;
    opacity: 0.7;
}

.popup{
    width: 96%;
    top: 60px;
    position: fixed;
        height: 500px;
}
.btn{

    text-align: center;
    margin: 10px 0px;
}

.btnR{
    width: 33px !important;
    height: 38px;
    right: 26px;
    font-size: 22px !important;
    top: 26px;
    background: #ff6b6b;
    color: #fff;
    position: absolute !important ;
}


.icHeaderText {
    font-size: 15px !important;
    
}

.icTitle {
    border-bottom: 1px solid !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
}



.headerColor-white {
    background: #ffffff !important;
    border-color: #e8e8e8 !important;
    color: #a5a3a3 !important;
}


.eClaimSubTitle {
	color: black;
	font-size: 20px;
	padding: 10px 0px;
} 

.eClaimSubTitle1 {
	color: black;
	font-size: 16px;
	margin-left: 20px;
} 

.eClaimSubTitle2 {
	color: black;
	font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
} 

.scroll{
    height: calc(100% - 48px);
    overflow: scroll;
}

.cm{
    height: 100%;
}


.Tabler {
	width: 100%;
	padding-top: 35px;
	border-collapse: collapse;
	 table-layout:fixed; 
}

	tr.colth {
		color: white;
    }
    
    th.lgl1 {
        padding: 13px 5px;
        border: none;
	}
		
    td.lgl1 {
        
        padding: 13px;
        text-align: center;
        word-wrap: break-word;
        border: none;
        border-bottom: 1px solid gainsboro;
    }

    .tblBrLeft { border-radius: 5px 0 0 5px;}
    .tblBrRight { border-radius: 0 5px 5px 0;}
	
.tColor {background-color: #ca9b24 !important;}
.graphHeaderStyle {border-top: 5px solid #ca9b24;border-bottom: 1px solid #d6d6d6;}
.fullWidth {width: 100% !important;}