<!--
  Generated template for the BanksetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary200">
    <ion-title>{{ 'BANK_SETUP_HEADING' | translate }}</ion-title>
  </ion-navbar>  
</ion-header>

<ion-content padding>
  <!-- <ion-fab top left edge>
    <button ion-fab mini (click)="ExportToExcel($event)">
      <ion-icon name="download"></ion-icon>
    </button>
  </ion-fab>

  
    <ion-fab top edge style="left:30px;">
      <button ion-fab mini (click)="EmailTest($event)">
        <ion-icon name="ios-mail-outline"></ion-icon>
      </button>
    </ion-fab> -->
    <button ion-button  (click)="ExportToExcel($event)" style="left: 960px;"> <ion-icon name="download"></ion-icon></button>
    <button ion-button  (click)="EmailTest($event)" style="left: 856px;"><ion-icon name="ios-mail-outline"></ion-icon></button>
  <ion-fab top right edge>
    <button ion-fab mini (click)="AddBanksClick()" [disabled]="button_Add_Disable">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
 
  <ion-list>
    <ion-item>
      <table class="Tabler list">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:90px">No.</th>
          <th class="lgl1">{{ 'BANK_NAME_HEADING' | translate }}</th>
          <th class="lgl1" *ngIf="AdminLogin">{{ 'Tenant' | translate }}</th>
          <th class="lgl1 tblBrRight" style="width:105px">{{ 'ACTION' | translate }}</th>
        </tr>

        <tr class="col7" *ngFor="let bank of banks | paginate:{itemsPerPage: 10, currentPage:page, id: 'i' }; let i=index" [hidden] = "button_View_Disable">
          <td class="lgl1 getHeader" reshead="No.">{{ 10 * (page - 1) + i+1 }}</td>
          <td class="lgl1 getHeader" reshead="Bank Name">{{bank.NAME}}</td>
          <td class="lgl1 getHeader" *ngIf="AdminLogin" >{{bank.TENANT_ACCOUNT_NAME}}</td>
          <td class="lgl1 getHeader fColor" reshead="Action">
            <button ion-button item-end [disabled]="button_Edit_Disable" (click)="EditClick(bank.BANK_GUID)">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button item-end [disabled]="button_Delete_Disable" (click)="DeleteClick(bank.BANK_GUID)">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </td>
        </tr>
      </table>
      <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true" autoHide="true">
      </pagination-controls>
    </ion-item>
  </ion-list>

  <!-- add bank form start-->
  <div class="blackcontainer" *ngIf="AddBanksClicked">
  </div>
  <div class="popup" padding *ngIf="AddBanksClicked">

    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText" *ngIf="Add_Form">REGISTER NEW BANK</div>
        <div class="icHeaderText" *ngIf="Edit_Form">UPDATE BANK</div>

        <button class="btnR" (click)="CloseBanksClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>

      </ion-card-header>

      <ion-list>
        <form [formGroup]="Bankform">
          <ion-item *ngIf="AdminLogin">
            <ion-label stacked>{{"TENANT"}}</ion-label>
            <ion-select formControlName="TENANT_NAME" [(ngModel)]="Tenant_Add_ngModel" placeholder="{{'Please fill the Tenant'}}">
              <ion-option *ngFor="let tenant of tenants" value="{{tenant.TENANT_GUID}}">{{tenant.TENANT_ACCOUNT_NAME}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <!-- <ion-label stacked>{{"BANKNAME"}}</ion-label> -->
            <ion-label stacked>{{ 'BANK_NAME_LABEL' | translate }}</ion-label>
            <ion-input type="text" formControlName="NAME" [(ngModel)]="NAME_ngModel_Add" placeholder="{{'Please fill in the bank name'}}"></ion-input>
          </ion-item>
          <div class="btn">
            <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Bankform.valid" (click)="Save_Bank()">{{"SUBMIT" | translate}}</button>
          </div>
        </form>
      </ion-list>
    </ion-card>

  </div>
  <!-- add bank form end-->
</ion-content>