page-speaker-list {

    .card {
      box-shadow: none !important;
      cursor: pointer;
      min-height: 80px;
        width: calc(20% - 0px);
      display: inline-block !important;
      }
    

     
    .Subtitle {
      text-align: center;
      font-size: 1.12vw;
    }


    .iconf {
      font-size: 7vw;
      color: #ca9b24;
    }

    .iconf:hover {
      color: #ca7724;
    }

    .icon {
      text-align: center;
    }

  // Todo: remove when this issue https://github.com/ionic-team/ionic/issues/11212 is fixed
  @media(max-width: 700px) {
      .round {
      width: calc(100% - 20px);
      min-height: 100px;
    }


    .Subtitle {
      text-align: center;
      font-size: 3.5vw;
    }


    .iconf {
      font-size: 22vw;
      color: #ca9b24;
    }
  }

}