<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><b>Dashboard</b></ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  
    <div class="eClaimSubTitle">CLAIM HISTORY</div>

    <ion-list>
      <ion-item>
          <table class="Tabler ">
              <tr class="linedsg TColor">
                  <th class="lgl1 tblBrLeft" style="width:60px">No.</th>
  
                  <th class="lgl1">Employee </th>
                  <th class="lgl1">Department </th>
                  <th class="lgl1">Month</th>
                  <th class="lgl1 tblBrRight">Total Amount</th>
  
  
              </tr>
  
              <tr class="col7" *ngFor="let claimhistory of claimhistorys; let i=index">
                  <td class="lgl1">{{i+1}}</td>
                  <td class="lgl1" >{{claimhistory.FULLNAME}}</td>
                  <td class="lgl1" >{{claimhistory.DEPARTMENT}}</td>
                  <td class="lgl1" >{{claimhistory.MONTH}}</td>
                  <td class="lgl1">{{claimhistory.CLAIM_AMOUNT}}</td>
              </tr>
  
  
          </table>
      </ion-item>
  </ion-list>
  
 

 <div class="eClaimSubTitle">MY CLAIM LIST</div> 

  <ion-list>
    <ion-item>
        <table class="Tabler ">
            <tr class="linedsg TColor">
                <th class="lgl1 tblBrLeft" style="width:60px">No.</th>

                <th class="lgl1">Claim Type</th>
                <th class="lgl1">Date</th>
                <th class="lgl1">Status</th>
                <th class="lgl1">Stage</th>
                <th class="lgl1 tblBrRight">Amount</th>

  
            </tr>
  
            <tr class="col7" *ngFor="let claimhistorydetail of claimhistorydetails; let i=index">
                <td class="lgl1">{{i+1}}</td>
                <td class="lgl1" >{{claimhistorydetail.CLAIM_TYPE}}</td>
                <td class="lgl1" >{{claimhistorydetail.TRAVEL_DATE | date: 'dd/MM/yyyy H:mm'}}</td>
                <td class="lgl1">{{claimhistorydetail.STATUS}}</td>
                <td class="lgl1">{{claimhistorydetail.STAGE}}</td>
                <td class="lgl1">{{claimhistorydetail.CLAIM_AMOUNT}}</td>
            </tr>
  
  
        </table>
    </ion-item>
  </ion-list>
  
 
  <div class="eClaimSubTitle">CLAIM APPLICATION FORM</div>

  <div class="UPContent">

    <ion-card class="round1" (click)="goToTravelClaim()">
      <ion-card-header class="icon">
        <ion-icon name="car" class="iconf"></ion-icon>
      </ion-card-header>
      <ion-card-content class="Subtitle">
        TRAVEL CLAIM
      </ion-card-content>
    </ion-card>

    <ion-card class="round1" (click)="goToEntertainmentClaim()">
      <ion-card-header class="icon">
        <ion-icon name="musical-notes" class="iconf"></ion-icon>
      </ion-card-header>
      <ion-card-content class="Subtitle">
        ENTERTAINMENT CLAIM
      </ion-card-content>
    </ion-card>

    <ion-card class="round1" (click)="goToMedicalClaim()">
      <ion-card-header class="icon">
        <ion-icon name="medkit" class="iconf"></ion-icon>
      </ion-card-header>
      <ion-card-content class="Subtitle">
        MEDICAL CLAIM
      </ion-card-content>
    </ion-card>


    <ion-card class="round1" (click)="goToOTClaim()">
      <ion-card-header class="icon">
        <ion-icon name="stopwatch" class="iconf"></ion-icon>
      </ion-card-header>
      <ion-card-content class="Subtitle">
        OVERTIME CLAIM
      </ion-card-content>
    </ion-card>

    <ion-card class="round1" (click)="goToPrintingClaim()">
      <ion-card-header class="icon">
        <ion-icon name="print" class="iconf"></ion-icon>
      </ion-card-header>
      <ion-card-content class="Subtitle">
        PRINTING CLAIM
      </ion-card-content>
    </ion-card>

    <ion-card class="round1" (click)="goToGiftClaim()">
      <ion-card-header class="icon">
        <ion-icon name="basket" class="iconf"></ion-icon>
      </ion-card-header>
      <ion-card-content class="Subtitle">
        GIFT CLAIM
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>