<!--
  Generated template for the SocRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary200">
    <ion-title>{{ "SOC_REGISTRATION_HEADING" | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary200">
    <ion-searchbar [(ngModel)]="search_ngModel" (ionInput)="search($event)" placeholder='Search'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="AddSocClick()" [disabled]="button_Add_Disable" title="Add">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <table class="Tabler list">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:60px">{{ 'NO' | translate }}</th>
          <th class="lgl1" style="width:150px">{{ 'SOC_NUMBER' | translate }}</th>
          <th class="lgl1">{{ 'PROJECT_NAME' | translate }}</th>
          <th class="lgl1">{{ 'CUSTOMER_NAME' | translate }}</th>
          <th class="lgl1" *ngIf="AdminLogin">{{ 'Tenant' | translate }}</th>
          <th class="lgl1" style="width:85px">{{ 'Active Flag' | translate }}</th>
          <th class="lgl1 tblBrRight" style="width:105px">{{ 'ACTION' | translate }}</th>
        </tr>

        <tr class="col7" *ngFor="let soc of socs | paginate:{itemsPerPage: 10, currentPage:page, id: 'i' }; let i=index"
          [hidden]="button_View_Disable">
          <td class="lgl1 getHeader" reshead="No.">{{ 10 * (page - 1) + i+1 }}</td>
          <td class="lgl1 getHeader" reshead="Soc Number">{{soc.soc}}</td>
          <td class="lgl1 getHeader" reshead="Project Name" text-wrap>{{soc.project_name}}</td>
          <td class="lgl1 getHeader" reshead="Customer Name" text-wrap>{{soc.customer_name}}</td>
          <td class="lgl1 getHeader" *ngIf="AdminLogin" reshead="Tenant">{{soc.TENANT_ACCOUNT_NAME}}</td>

          <td class="lgl1 getHeader" reshead="Active Flag">
            <ion-item>
              <ion-toggle *ngIf="soc.ACTIVATION_FLAG==1" checked=true (ionChange)="ProjectMainActivation(soc.PROJECT_GUID, true)"></ion-toggle>
              <ion-toggle *ngIf="soc.ACTIVATION_FLAG==0" checked=false (ionChange)="ProjectMainActivation(soc.PROJECT_GUID, false)"></ion-toggle>
            </ion-item>
          </td>

          <td class="lgl1 getHeader fColor" reshead="Action">
            <!-- <button ion-button item-end (click)="EditClick(soc.TENANT_GUID)">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button item-end (click)="DeleteClick(soc.TENANT_GUID)">
              <ion-icon name="md-close"></ion-icon>
            </button> -->

            <button ion-button item-end [disabled]="button_Edit_Disable" (click)="EditClick(soc.SOC_GUID)" title="Edit">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button item-end [disabled]="button_Delete_Disable" (click)="DeleteClick(soc.SOC_GUID)" title="Delete" style="display: none;">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </td>
        </tr>

      </table>
      <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true"
        autoHide="true">
      </pagination-controls>
    </ion-item>
  </ion-list>


  <div class="blackcontainer" *ngIf="AddSocClicked">
  </div>
  <div class="popup4" padding *ngIf="AddSocClicked">

    <ion-card class="cm">
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText" *ngIf="Add_Form">{{ "REGISTER_SOC" | translate }}</div>
        <div class="icHeaderText" *ngIf="Edit_Form">{{ "UPDATE_SOC" | translate }}</div>

        <button class="btnR" (click)="CloseSocClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>

      </ion-card-header>

      <ion-list class="scroll">
        <form [formGroup]="Socform">
          <ion-item *ngIf="AdminLogin">
            <ion-label stacked>{{ "TENANT" | translate }}</ion-label>
            <ion-select formControlName="TENANT_NAME" [(ngModel)]="Tenant_Add_ngModel" placeholder="{{'Please fill the Tenant'}}">
              <ion-option *ngFor="let tenant of tenants" value="{{tenant.TENANT_GUID}}">{{tenant.TENANT_ACCOUNT_NAME}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "SOC_NUMBER" | translate }}</ion-label>
            <ion-input type="text" formControlName="soc" [(ngModel)]="SOC_NO_ngModel_Add" placeholder="{{'Please fill the soc no'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ "PROJECT_NAME" | translate }}</ion-label>
            <ion-input type="text" formControlName="project_name" [(ngModel)]="PROJECT_NAME_ngModel_Add" placeholder="{{'Please fill the project name'}}"></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label stacked>{{ 'CUSTOMER_NAME' | translate }}</ion-label>
            <ion-input type="text" formControlName="customer_name" [(ngModel)]="CUSTOMER_NAME_ngModel_Add" placeholder="{{'Please fill the project name'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Location Name' | translate }}</ion-label>
            <ion-input type="text" formControlName="location_name" [(ngModel)]="LOCATION_NAME_ngModel_Add" placeholder="{{'Please fill the location name'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Registration Number' | translate }}</ion-label>
            <ion-input type="text" formControlName="registration_no" [(ngModel)]="REGISTRATION_NO_ngModel_Add" placeholder="{{'Please fill the registration number'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Address 1' | translate }}</ion-label>
            <ion-input type="text" formControlName="address1" [(ngModel)]="ADDRESS1_ngModel_Add" placeholder="{{'Please fill the Address 1'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Address 2' | translate }}</ion-label>
            <ion-input type="text" formControlName="address2" [(ngModel)]="ADDRESS2_ngModel_Add" placeholder="{{'Please fill the Address 2'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Address 3' | translate }}</ion-label>
            <ion-input type="text" formControlName="address3" [(ngModel)]="ADDRESS3_ngModel_Add" placeholder="{{'Please fill Address 3'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Conctact Person' | translate }}</ion-label>
            <ion-input type="text" formControlName="contact_person" [(ngModel)]="CONTACT_PERSON_ngModel_Add" placeholder="{{'Please fill the contact person'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Contact Person Mobile No' | translate }}</ion-label>
            <ion-input type="number" formControlName="contact_person_mobile_no" [(ngModel)]="CONTACT_PERSON_MOBILE_NO_ngModel_Add" placeholder="{{'Please fill the contact person mobile no'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Contact No 1' | translate }}</ion-label>
            <ion-input type="number" formControlName="contact_no1" [(ngModel)]="CONTACT_NO1_ngModel_Add" placeholder="{{'Please fill the contact no'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Contact No 2' | translate }}</ion-label>
            <ion-input type="number" formControlName="contact_no2" [(ngModel)]="CONTACT_NO2_ngModel_Add" placeholder="{{'Please fill the contact no'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Email' | translate }}</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="EMAIL_ngModel_Add" placeholder="{{'Please fill the email'}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{ 'Division' | translate }}</ion-label>
            <ion-input type="text" formControlName="division" [(ngModel)]="DIVISION_ngModel_Add" placeholder="{{'Please fill the division'}}"></ion-input>
          </ion-item> -->

          <ion-item>
            <ion-label stacked> {{ "CUSTOMER_NAME_LABEL" | translate }} </ion-label>
            <ion-input [(ngModel)]="CUSTOMER_NAME_ngModel_Add" type="text" formControlName="customer_name" placeholder=" {{ 'CUSTOMER_NAME_PLACE_HOLDER' | translate }} "
              [readonly]="Readonly()"></ion-input>
            <button ion-button outline item-end icon-left (click)="CustomerLookup()">
              <ion-icon name="eye"></ion-icon>
              {{ "CUSTOMER LOOKUP" | translate }}
            </button>
          </ion-item>

          <div class="btn">
            <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Socform.valid" (click)="Save()">{{ "SUBMIT" | translate }}</button>
          </div>

        </form>
      </ion-list>
    </ion-card>

    <div class="blackcontainer" *ngIf="CustomerLookupClicked">
    </div>
    <div class="popup" padding *ngIf="CustomerLookupClicked">
      <ion-card>
        <ion-card-header class="icTitle headerColor-white ">
          <div class="icHeaderText">{{ "CUSTOMER_NAME_LABEL" | translate }}</div>
          <button class="btnR" (click)="CloseCustomerLookup()">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-card-header>
        <ion-searchbar [(ngModel)]="Travel_Customer_ngModel" (ionInput)="searchCustomer($event)" placeholder='{{ "CUSTOMER_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
        <ion-list>
          <ion-item-sliding *ngFor="let item of customers">
            <button ion-item (click)="GetCustomer(item.CUSTOMER_GUID, item.NAME)">
              <ion-label>{{item.NAME}}</ion-label>
            </button>
          </ion-item-sliding>
        </ion-list>
      </ion-card>
    </div>

  </div>
  <!-- add Tenant form end-->
</ion-content>