<ion-split-pane>

  <ion-menu id="loggedInMenu_User" [content]="content" *ngIf="blnLogin">
    <ion-header>
      <ion-toolbar color="primary200">
        <div style="height:141px;margin-top:-15pt;color:white;" text-center>
          <h3 style="padding-top:15pt;">Welcome to eClaim</h3>

          <div style="width: 30%;float: left;margin-left: 5pt;">
            <div class="profilepicapp">
              <img src={{IMAGE_URL}} alt="avatar">
            </div>
          </div>

          <div style="color: white;">
            <h6 text-center text-wrap>{{ USER_NAME_LABEL }}</h6>
          </div>

        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">
      <ion-list *ngIf="blnDashboard_loggedInMenu_User">

        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)" [color]="isActive(p) ">
          <ion-icon item-start [name]=" p.icon "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="blnTasks_loggedInMenu_User">
        <ion-list-header>
          Tasks
        </ion-list-header>

        <button ion-item menuClose *ngFor="let p of appPages_User" (click)="openPage(p)" [color]="isActive(p) ">
          <ion-icon item-start [name]=" p.icon "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="blnClaims_loggedInMenu_User">
        <ion-list-header>
          {{"CLAIMS_LABEL" | translate}}
        </ion-list-header>

        <button ion-item menuClose *ngFor="let p of claimPages " (click)="openPage(p) " [color]="isActive(p) ">
          <ion-icon item-start [name]="p.icon " title="{{p.title}}"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="blnReport_loggedInMenu_User">
        <ion-list-header>
          Reports
        </ion-list-header>

        <button ion-item menuClose *ngFor="let p of reportPages " (click)="openPage(p) " [color]="isActive(p) ">
          <ion-icon item-start [name]="p.icon "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="blnSetup_loggedInMenu_User" class="hiset">
        <button ion-item menuClose *ngFor="let p of setupsPages " (click)="openPage(p) " [color]="isActive(p) ">
          <ion-icon item-start [name]="p.icon "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="blnAccount_loggedInMenu_User">
        <ion-list-header>
          {{"Account_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages " (click)="openPage(p) " [color]="isActive(p) ">
          <ion-icon item-start [name]="p.icon "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
  <!-- <ion-nav [root]="rootPage"></ion-nav> -->

</ion-split-pane>