<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content" *ngIf="blnLogin">
    
    <ion-header>
      <ion-toolbar color="primary500">
        <ion-title>eClaim</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          {{"NAVIGATE_LABEL" | translate}}
        </ion-list-header>

        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]=" p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>

        <ion-list-header>         
          {{"CLAIMS_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of claimPages " (click)="openPage(p) ">
          <ion-icon item-start [name]="p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>

        <ion-list-header>         
          {{"Account_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages " (click)="openPage(p) ">
          <ion-icon item-start [name]="p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>


    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content" *ngIf="blnLogin">

    <ion-header>
      <ion-toolbar color="primary500">
        <ion-title>eClaim</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          {{"NAVIGATE_LABEL" | translate}}
        </ion-list-header>

        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]=" p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>          
          {{"CLAIMS_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of claimPages " (click)="openPage(p) ">
          <ion-icon item-start [name]="p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>        
          {{"Account_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages " (click)="openPage(p) ">
          <ion-icon item-start [name]="p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>


    </ion-content>

  </ion-menu>

  <ion-menu id="loggedInMenu_User" [content]="content" *ngIf="blnLogin">
    <ion-header>
      <ion-toolbar color="primary500">
        <ion-title>eClaim</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          {{"NAVIGATE_LABEL" | translate}}
        </ion-list-header>

        <button ion-item menuClose *ngFor="let p of appPages_User" (click)="openPage(p)">
          <ion-icon item-start [name]=" p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          <!-- CLAIMS -->
          {{"CLAIMS_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of claimPages " (click)="openPage(p) ">
          <ion-icon item-start [name]="p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>         
          {{"Account_LABEL" | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages " (click)="openPage(p) ">
          <ion-icon item-start [name]="p.icon " [color]="isActive(p) "></ion-icon>
          {{p.title}}
        </button>
      </ion-list>


    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
  <!-- <ion-nav [root]="rootPage"></ion-nav> -->

</ion-split-pane>