<ion-header>
    <ion-navbar color="primary">
       
        <ion-title>
          <div *ngIf="ClaimMethodName == 'Parking'">{{ 'ADD_PARKING_HEADING' | translate }}</div>
          <div *ngIf="ClaimMethodName == 'Toll'">{{ 'ADD_TOLL_HEADING' | translate }}</div>
          <div *ngIf="ClaimMethodName == 'Accommodation'">{{ 'ADD_Accommodation_HEADING' | translate }}</div>
          <div *ngIf="ClaimMethodName == 'Meal Allowance'">{{ 'ADD_MEAL_ALLOWANCE_HEADING' | translate }}</div>
    
        </ion-title>
      </ion-navbar>  
</ion-header>

<ion-content class="login-content" padding>
    <form [formGroup]="DetailsForm" >
      
            <ion-list>
              <ion-item *ngIf="ClaimMethodName != 'Accommodation' && ClaimMethodName != 'Meal Allowance'">
                <ion-label color="primary">{{ 'PAY_BY_LABEL' | translate }}</ion-label>
                <ion-select  [ngModelOptions]="{standalone: true}" [(ngModel)]="PayType" placeholder="Cash">
                    <!-- [ngModelOptions]="{standalone: true}" -->
                  <ion-option *ngFor="let item of paymentTypes" value={{item.PAYMENT_TYPE_GUID}} >{{ item.NAME}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="ClaimMethodName === 'Meal Allowance'">
                <ion-label color="primary" stacked>{{ "MEAL_ALLOWANCE_LABEL" | translate }}</ion-label>
                <ion-select [ngModelOptions]="{standalone: true}" placeholder="NA" [(ngModel)]="MA_SELECT">
                    <ion-option value="NA">NA</ion-option>
                  <ion-option *ngFor="let allowance of allowanceList" (ionSelect)="onAllowanceSelect(allowance)">{{allowance.ALLOWANCE_NAME}} - {{allowance.ALLOWANCE_AMOUNT}}</ion-option>
                </ion-select>
              </ion-item>
           

            <ion-item *ngIf="ClaimMethodName !== 'Meal Allowance'">
              <ion-label color="primary" fixed>{{ 'AMOUNT_LABEL' | translate  }}{{ 'CURRENCY_NAME_LABEL' | translate}}</ion-label>
              <ion-input (change)='getCurrency($event.target.value)' [ngModelOptions]="{standalone: true}" 
              [(ngModel)]="Amount" type="number" placeholder="0.00"></ion-input>
            </ion-item>
            <!-- [ngModelOptions]="{standalone: true}" -->

            <ion-item>
              <ion-label color="primary" fixed>{{ 'DESCRIPTION_LABEL' | translate }}</ion-label>
              <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="Description" placeholder="Add Description"></ion-input>
            </ion-item>
            <!-- [ngModelOptions]="{standalone: true}" -->

            <!-- <div class="form-group">          
              <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
            </div> -->

            <!-- this -->
            <ion-item *ngIf="ClaimMethodName != 'Meal Allowance'">
              <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
              <button ion-button type="primary"  (click)="saveIm()" [disabled]= "!chooseFile">upload image</button>             
            </ion-item>
         

          <!-- <ion-item>
            <button (click)='save()' [disabled]="DetailsForm.invalid || loading" ion-button round style="width:100px;">{{ 'SUBMIT'  }}</button>
          </ion-item> -->
          <div class="btn" *ngIf="ClaimMethodName != 'Meal Allowance'">
              <!-- *ngIf="ClaimMethodName === 'Meal Allowance'" -->
              <button ion-button color="primary" (click)='Save(false)'  [disabled]="!ImageUploadValidation">{{ "SUBMIT_BUTTON" | translate }}</button>
            </div>

            <div class="btn" *ngIf="ClaimMethodName === 'Meal Allowance'">
              <button ion-button color="primary" (click)='Save(true)'>{{ "SUBMIT_BUTTON" | translate }}</button>
            </div>
        </ion-list>
            </form>  

</ion-content>
