<ion-header>
  <ion-navbar color="primary200">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'TRAVEL_CLAIM_HEADING' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment color="primary500" [(ngModel)]="claimFor">
    <ion-segment-button value="seg_project" (click)="claimForChanged()">
      {{"PROJECT_TITLE" | translate }}
    </ion-segment-button>
    <ion-segment-button value="seg_customer" (click)="claimForChanged()">
      {{"CUSTOMER_TITLE" | translate }}
    </ion-segment-button>

  </ion-segment>

  <div [ngSwitch]="claimFor">
    <div *ngSwitchDefault ngSelected="selected">

      <ion-item text-wrap>
        <ion-label floating color="primary500"> {{ "CUSTOMER_NAME_LABEL" | translate }} </ion-label>
        <ion-textarea [ngModelOptions]="{standalone: true}" (click)="CustomerLookup()" [(ngModel)]="Customer_Lookup_ngModel" type="text"
          [disabled]="true"></ion-textarea>
      </ion-item>
    </div>
    <div *ngSwitchCase="'seg_project'">

      <ion-item text-wrap style="width:80%;display: inline-block;">
        <ion-label floating color="primary500"> {{ "PROJECT_NAME_LABEL" | translate }} </ion-label>
        <ion-textarea (click)="ProjectLookup()" [ngModelOptions]="{standalone: true}" [(ngModel)]="Project_Lookup_ngModel" type="text"
          [disabled]="true"></ion-textarea>
      </ion-item>
      <ion-item style="width: 19%;display: inline-block;">
        <ion-label floating>{{ "SOC_NUMBER_LABEL" | translate }}</ion-label>
        <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="Travel_SOC_No_ngModel" [ngModelOptions]="{standalone: true}"
          type="text" disabled="true"></ion-input>
      </ion-item>
    </div>
  </div>

  <form [formGroup]="Travelform">
   
    <!-- minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" -->
    <ion-item class="fuha">
      <ion-label floating color="primary500"> <span style="color:red">*</span>Departure</ion-label>
      <ion-datetime  formControlName="start_DT" [(ngModel)]="Start_DT_ngModel"
        displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
    </ion-item>

    <!-- minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" -->
    <ion-item class="fuha">
      <ion-label floating color="primary500"> <span style="color:red">*</span>Arrival</ion-label>
      <ion-datetime  displayFormat="DD/MM/YYYY HH:mm" formControlName="end_DT"
        [(ngModel)]="End_DT_ngModel"></ion-datetime>
    </ion-item>


    <ion-item class="fuha">
      <ion-label floating color="primary500"> <span style="color:red">*</span>{{ "TRAVEL_TYPE_LABEL" | translate }}</ion-label>
      <ion-select [(ngModel)]="Travel_Type_ngModel" formControlName="travelType">

        <ion-option (ionSelect)="onTravelTypeSelect('Local')" selected>Local</ion-option>
        <ion-option (ionSelect)="onTravelTypeSelect('Outstation')">Outstation</ion-option>
      </ion-select>
      <!-- (ionSelect)="onTravelTypeSelect('Local')" -->
    </ion-item>



    <ion-item class="fuha">

      <ion-label floating color="primary500"> <span style="color:red">*</span> {{ "TRAVEL_MODE_LABEL" | translate }}</ion-label>
      <ion-select [(ngModel)]="Travel_Mode_ngModel" formControlName="vehicleType">
        <!-- <ion-option value="0" (ionSelect)="onVehicleSelect('Select Vehicle')">Select Vehicle</ion-option> -->
        <ion-option *ngFor="let vehicle of vehicles" (ionSelect)="onVehicleSelect(vehicle)" [value]="vehicle.CATEGORY">{{vehicle.CATEGORY}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item *ngIf="isPublicTransport">
      <ion-label fixed>{{ 'PAY_BY_LABEL' | translate }}</ion-label>
      <ion-select [(ngModel)]="PayType" formControlName="PayType">
        <ion-option *ngFor="let item of paymentTypes" (ionSelect)="onPaySelect(item)" value={{item.PAYMENT_TYPE_GUID}}>{{ item.NAME}}</ion-option>
      </ion-select>
    </ion-item>



    <ion-item text-wrap>
      <ion-label floating color="primary500"> <span style="color:red">*</span> {{ "ORIGIN_PLACE_LABEL" | translate }} </ion-label>
      <ion-textarea [disabled]="true" (click)="AddLookupClick()" [(ngModel)]="Travel_From_ngModel" type="text" formControlName="origin"></ion-textarea>

    </ion-item>

    <ion-item text-wrap>
        <ion-label floating color="primary500"> <span style="color:red">*</span> {{ "DESTINATION_PLACE_LABEL" | translate }} </ion-label>       
      <ion-textarea [disabled]="true" (click)="AddToLookupClick()" [(ngModel)]="Travel_Destination_ngModel" type="text" formControlName="destination"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary500">{{ "ROUND_TRIP_LABEL" | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="Roundtrip_ngModel" formControlName="Roundtrip" (ionChange)="Roundtrip_Change(Travelform.value)"></ion-checkbox>
    </ion-item>
    <ion-label style="margin-left: 16px;" color="primary500" text-wrap stacked>
      {{ "ROUND_TRIP_NOTE" | translate }}</ion-label>
    <ion-item class="fuha">
      <ion-label floating> {{ "DISTANCE_LABEL" | translate }} </ion-label>
      <ion-input [disabled]="true" [(ngModel)]="Travel_Distance_ngModel" formControlName="distance"></ion-input>
    </ion-item>


    <ion-item class="fuha">
      <ion-label floating> {{ "CLAIM_AMOUNT_LABEL" | translate }} {{ currency }}</ion-label>
      <ion-input (change)='getCurrency($event.target.value)' [disabled]="!isPublicTransport" [(ngModel)]="travelAmountNgmodel"
        type="text" formControlName="claim_amount" (ionChange)="valueChange()"></ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="!Travelform.controls.claim_amount.valid  && (Travelform.controls.claim_amount.dirty)">
      <p style="color: red; text-align:right;margin-right: 34%;">Amount is {{min_claim_amount}} - {{max_claim_amount}} RM.</p>
  </ion-item> -->

    <ion-item>
      <ion-label floating color="primary500"> <span style="color:red">*</span> {{ "DESCRIPTION_LABEL" | translate }} </ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="Travel_Description_ngModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary500" stacked> {{ "TOTAL_CLAIM_AMOUNT_LABEL" | translate }}  {{ "TOTAL_CLAIM_AMOUNT_NOTE" | translate }}</ion-label>
      <ion-label color="primary500">{{currency}} {{totalClaimAmount | number:'1.2-2'}} </ion-label>
      <!-- <ion-label style="margin-left: 16px;" color="primary">{{draftStatus}}</ion-label> -->
    </ion-item>  

    <ion-label style="margin-left: 16px;" color="primary">{{draftStatus}}</ion-label>
   
    <!-- <ion-item *ngIf="isPublicTransport">
              <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
              <button ion-button type="primary"  (click)="saveIm()" [disabled]="!ImageUploadValidation">upload image</button>             
            </ion-item> -->

    <ion-item *ngIf="isPublicTransport">
      <ion-label class="text">Attachment: </ion-label>
      <ion-input type="file" id="avatar1" (change)="ProfileImageDisplay($event, 'avatar1')" #fileInput1></ion-input>
      <!-- <button ion-button type="primary" (click)="saveIm()" [disabled]="!chooseFile">Upload image</button> -->
      <!-- <button ion-button type="button" (click)="clearFile('avatar1')">clear file</button> -->
      <!-- <button ion-button type="primary"  (click)="saveIm()" [disabled]= "!chooseFile">upload image</button>    -->
      <!-- <ion-button ion-button type="button" (click)="clearFile('avatar1')">clear file> </ion-button> -->
    </ion-item>

     <ion-item *ngIf="imageURLEdit!==null">
      <!-- <button ion-button outline item-start icon-left (click)="DisplayImage(imageURLEdit)" *ngIf="imageURLEdit!==null">
        View Receipt
      </button> -->
      <a href={{imageURLEdit}} target='_blank'>View Receipt</a> 
      </ion-item> 
    

    <div *ngIf= "isImage">
      <img src="{{ProfileImage}}" style="width: 20%">
    </div>

    <!-- <ion-item *ngIf="isPublicTransport">
      <button ion-button type="primary" (click)="saveIm()" [disabled]="!chooseFile">Upload image</button>
    </ion-item> -->

    <div class="btn" *ngIf="!isFormSubmitted">
      <!-- <button ion-button color="primary" (click)='submitAction(Travelform.value)' [disabled]="!Travelform.valid">{{ "NEXT_BUTTON" | translate }}</button> -->

      <button *ngIf="!imageOptional" ion-button color="primary" (click)='submitAction(Travelform.value)' [disabled]="(Travelform.valid && !PublicTransValue) || !Travelform.valid" >{{ "NEXT_BUTTON" | translate }}</button>
      <button *ngIf="imageOptional" ion-button color="primary" (click)='submitAction(Travelform.value)' [disabled]="!Travelform.valid">{{ "NEXT_BUTTON" | translate }}</button>
    </div>
    <div class="btn" *ngIf="isFormSubmitted">
      <button ion-button outline item-end icon-left (click)="TollParkLookup()">
        <ion-icon name="eye"></ion-icon>
        {{ "CLAIM_DETAILS_BUTTON" | translate }} </button>
        <button *ngIf="imageOptional" ion-button color="primary" (click)='submitAction(Travelform.value)' [disabled]="!Travelform.valid">{{ "SUBMIT_BUTTON" | translate }}</button>
      <button *ngIf="!imageOptional" ion-button color="primary" (click)='submitAction(Travelform.value)' [disabled]="!Travelform.valid">{{ "SUBMIT_BUTTON" | translate }}</button>
    </div>
    <!-- <div *ngIf="!Travelform.controls.claim_amount.valid  && (Travelform.controls.claim_amount.dirty)">
      <p style="color: red; text-align:right;margin-right: 34%;">claim amount should be RM {{min_claim_amount}} - {{max_claim_amount}} </p>
  </div> -->
   
  </form>

  <div class="blackcontainer" *ngIf="AddLookupClicked || AddToLookupClicked">
  </div>
  <div class="popup1" padding *ngIf="AddLookupClicked || AddToLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">

        <div class="icHeaderText">Search Location</div>
        <button class="btnR" (click)="CloseLookupClick()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-searchbar (ionInput)="searchLocation($event)" placeholder="Enter Keywords"></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let item of currentItems">
          <button ion-item (click)="openItem(item)">
            <ion-label> {{item.description}}</ion-label>
          </button>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>

  <div class="blackcontainer" *ngIf="ProjectLookupClicked">
  </div>
  <div class="popup1" padding *ngIf="ProjectLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "PROJECT_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseProjectLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>

      <ion-searchbar [(ngModel)]="Travel_ProjectName_ngModel" (ionInput)="searchProject($event)" placeholder='{{ "PROJECT_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>
      <ion-scroll style="height:66vh;" scrollY="true">
        <ion-list>
          <div *ngFor="let item of projects">
            <button ion-item (click)="GetSocNo(item)">
              <ion-label text-wrap>{{item.project_name}} [{{item.soc}}]
              </ion-label>
            </button>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-card>
  </div>

  <div class="blackcontainer" *ngIf="CustomerLookupClicked">
  </div>
  <div class="popup1" padding *ngIf="CustomerLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">{{ "CUSTOMER_NAME_LABEL" | translate }}</div>
        <button class="btnR" (click)="CloseCustomerLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>


      </ion-card-header>
      <ion-searchbar [(ngModel)]="Travel_Customer_ngModel" (ionInput)="searchCustomer($event)" placeholder='{{ "CUSTOMER_NAME_PLACE_HOLDER" | translate }}'></ion-searchbar>

      <ion-scroll style="height:66vh;" scrollY="true">
        <ion-list>
          <div *ngFor="let item of customers">
            <button ion-item (click)="GetCustomer(item.CUSTOMER_GUID,item.NAME)">
              <ion-label text-wrap>{{item.NAME}}</ion-label>
            </button>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-card>
  </div>
  <div class="blackcontainer" *ngIf="tollParkLookupClicked">
  </div>
  <div class="popup1" padding *ngIf="tollParkLookupClicked">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">Toll, Parking and Accommodation Details</div>
        <button class="btnR" (click)="CloseTollParkLookup()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <table class="Tabler" border='2'>
            <tr class="linedsg TColor">

              <th class="lgl1">Claim Method</th>

              <th class="lgl1">Payment Mode</th>
              <th class="lgl1">Description</th>
              <th class="lgl1">Receipt</th>
              <th class="lgl1">Amount({{currency }})</th>
              <th class="lgl1">Action</th>
            </tr>

            <tr class="col7" *ngFor="let item of claimDetailsData; let i=index ">
              <!-- <td class="lgl1">{{i+1}}</td> -->

              <td class="lgl1">{{item.CLAIM_METHOD}}</td>

              <!-- <td class="lgl1">{{item.AMOUNT | number:'1.2-2'}}</td> -->
              <!-- <td class="lgl1">{{item.AMOUNT | currency:'MYR':'symbol-narrow':'1.2-2'}}</td> -->



              <td class="lgl1">{{item.PAYMENT_TYPE}}</td>
              <td class="lgl1" text-wrap>{{item.DESCRIPTION}}</td>
              <td class="lgl1">
                <!-- <button ion-button (click)="DisplayImage(item.ATTACHMENT_ID)" *ngIf="item.ATTACHMENT_ID!==null">
                  Receipt
                </button> -->
                <a href={{item.ATTACHMENT_ID}} target='_blank' *ngIf="item.ATTACHMENT_ID!=null">Receipt</a> 
                <!-- <a href={{imageURLEdit}} target='_blank' *ngIf="item.ATTACHMENT_ID!=null">Receipt</a> -->
              </td>
              <!-- <td class="lgl1">{{item.AMOUNT | number:'1.2-2'}}</td> -->
              <td class="lgl1">{{currency}} {{item.AMOUNT | number:'1.2-2'}}</td>
              <td class="lgl1 fColor">
                <button ion-button item-end (click)="EditDetail(item.CLAIM_REQUEST_DETAIL_GUID,item.CLAIM_METHOD_GUID)">
                  <ion-icon name="md-create"></ion-icon>
                </button>
                <button ion-button item-end (click)="DeleteDetail(item.CLAIM_REQUEST_DETAIL_GUID)">
                  <ion-icon name="md-close"></ion-icon>
                </button>
              </td>
            </tr>
            <tr class="col7">

              <td class="lgl11" colspan="6"> {{ "TOTAL_AMOUNT_LABEL" | translate }} :{{currency}} {{tollParkAmount | number:'1.2-2'}} </td>

            </tr>
          </table>

        </ion-item>

      </ion-list>
    </ion-card>
  </div>
  <div class="blackcontainer" *ngIf="displayImage">
  </div>
  <div class="popup1" padding *ngIf="displayImage">
    <ion-card>
      <ion-card-header class="icTitle headerColor-white ">
        <div class="icHeaderText">Receipt</div>
        <button class="btnR" (click)="CloseDisplayImage()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-card-header>
      <img style="width: 50%" height="100%" src={{imageURL}} *ngIf="imageURL!==null && isImage">
      <a href={{imageURL}} *ngIf="!isImage" target = _blank>VIEW</a>
    </ion-card>
  </div> 

  <ion-fab bottom right *ngIf="MainClaimSaved">
    <button ion-fab mini color="secondary400">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button ion-fab (click)="selfRoot()"> 
        <ion-icon name="document"></ion-icon>
            <ion-label>{{ "SAVE_AS_DRAFT" | translate }}</ion-label>
          </button>
      <button ion-fab *ngIf="!isPublicTransport" (click)="showAddToll(null)">
        <ion-icon name="easel"></ion-icon>
        <ion-label>{{ "ADD_TOLL_LABEL" | translate }}</ion-label>
      </button>
      <button ion-fab *ngIf="!isPublicTransport" (click)="showAddParking(null)">
        <ion-icon name="car"></ion-icon>
        <ion-label>{{ "ADD_PARKING_LABEL" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="showAddAccommodation(null)">
        <ion-icon name="home"></ion-icon>
        <ion-label>{{ "ADD_Accommodation_HEADING" | translate }}</ion-label>
      </button>
      <button ion-fab *ngIf="!isTravelLocal" (click)="showMealAllowance(null)">
        <ion-icon name="cash"></ion-icon>
        <ion-label>{{ "ADD_MEAL_ALLOWANCE_HEADING" | translate }}</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>