<!--
  Generated template for the ClaimReportUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="primary200">
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>

    <ion-title>{{ "CLAIM_REPORT" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card  class="round2" *ngFor="let item of monthsList; let i=index" (click)="BindData('printSectionId',item)" color="primary200">
          <ion-row>
            <ion-col class="icondash">   
            <ion-icon name="print" color="light"></ion-icon>
            </ion-col>
            <ion-col>  <h2 style="    font-size: 20pt;
              padding-top: 6pt;">{{item}}</h2></ion-col>
          </ion-row>
    </ion-card>
  <!-- <ion-list>
    <ion-item>
      <table class="Tabler ">
        <tr class="linedsg TColor">
          <th class="lgl1 tblBrLeft" style="width:40px">No.</th>
          <th class="lgl1">Month</th>

          <th class="lgl1 tblBrRight" style="width:90px">Action</th>
      

        </tr>

        <tr class="col7" *ngFor="let item of monthsList; let i=index">
          <td class="lgl1">{{i+1}}</td>
          <td class="lgl1">{{item}}</td>
          <td class="lgl1" text-wrap>
            <button ion-button item-end (click)="BindData('printSectionId',item)">Print</button>
          </td>
        </tr>
      </table>
    </ion-item>
  </ion-list> -->
</ion-content>

<div id="printSectionId" hidden>
  <page-claim-report-print [claimsListPrint]="claimsListPrintTemp" [claimsListSummary]="claimsListSummary" [empData]="empData" [year]="year" [month]="month" [totalClaimAmount]="totalClaimAmount" [claimsSocSummary]="claimsSocSummary"></page-claim-report-print>
</div>

