<ion-header>

    <ion-navbar color="primary200">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="FinanceLogin && role=='Payment'">{{ "PAYMENT_DETAILS" | translate }}</ion-title>
        <ion-title *ngIf="FinanceLogin && role=='Validation'">{{ "VALIDATION_DETAILS" | translate }}</ion-title>
        <ion-title *ngIf="!FinanceLogin">{{ "SUPERIOR_TASK_DETAILS" | translate }}</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top color="primary200">
        <ion-searchbar [(ngModel)]="searchboxValue"  (ionChange)="onSearchInput($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item class="fuha">
        <ion-label>{{ "CLAIM_TYPE" | translate }}</ion-label>
        <ion-select interface="popover" [(ngModel)]="ddlClaim" #ddlClaimTypes>
            <ion-option [value]="All" [selected]="true">All</ion-option>
            <ion-option *ngFor="let claimType of claimTypeList" [value]="claimType.CLAIM_TYPE_GUID">{{claimType.NAME}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="fuha" *ngIf="!FinanceLogin">
        <ion-label>{{ "YEAR" | translate }}</ion-label>
        <ion-select [(ngModel)]="currentYear" interface="popover" #ddlYear>
            <ion-option *ngFor="let year of yearsList" [value]="year">{{year}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item class="fuha1" *ngIf="!FinanceLogin">
        <ion-label>{{ "CLAIM_USER_NAME" | translate }}</ion-label>
        <ion-select interface="popover" [(ngModel)]="ddlEmp" #ddlEmployee>
            <ion-option [value]="All" [selected]="true">All</ion-option>
            <ion-option *ngFor="let emp of employeeList" [value]="emp.USER_GUID">{{emp.FULLNAME}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>

        <span item-end *ngIf="FinanceLogin; else loggedOut">
            <button ion-button [disabled]="!btnSearch" (click)="SearchClaimsData()">{{ "SEARCH" | translate }}</button>
        </span>

        <ng-template #loggedOut item-end>
            <button ion-button [disabled]="!btnSearch" (click)="SearchClaimsData()">{{ "SEARCH" | translate }}</button>
        </ng-template>
        <!-- <span *ngIf="!FinanceLogin">
           
        </span>
        <span *ngIf="FinanceLogin">
        </span> -->
        <span item-end>
            <button ion-button (click)="approveClaims()" [disabled]="!approveButtonEnabled">{{buttonText}}</button>
            <!-- <button ion-button (click)="approveClaims()">{{ "BUTTON_TEXT" | translate }}</button> -->
        </span>
    </ion-item>


    <ion-list>
        <ion-item>
            <table class="Tabler list ">
                <tr class="linedsg TColor">
                    <th class="tblBrLeft" style="width:60px">
                        <ion-item>
                            <ion-checkbox item-end (ionChange)="checkAllCheckBoxes($event)"></ion-checkbox>
                        </ion-item>
                    </th>
                    <th style="width:42px;text-align: left;">No.</th>
                    <th *ngIf="!FinanceLogin" style="text-align: left;">Name</th>
                    <th style="width:185px;text-align: left;">Claim Type</th>
                    <th style="width:145px; text-align: left;">Date</th>
                    <th style="width:150px;text-align: left;">Status</th>
                    <th style="width:150px;text-align: left;" hidden>Stage</th>
                    <th style="width:137px;text-align: right;">Amount({{currency }})</th>
                    <th class="tblBrRight" style="width:68px">Action</th>

                </tr>

                <tr class="col7" *ngFor="let claimrequestdetail of claimrequestdetails; let i=index">
                    <td class="lgl1">
                        <ion-item>
                            <ion-checkbox item-end [checked]="selectAll" [disabled]="claimrequestdetail.STATUS=='Paid'" (ionChange)="getCheckboxValue($event,claimrequestdetail.CLAIM_REQUEST_GUID,claimrequestdetail.PROFILE_LEVEL,claimrequestdetail.STATUS)">
                            </ion-checkbox>
                        </ion-item>
                    </td>
                    <td class="lgl1 getHeader" reshead="No.">{{i+1}}</td>
                    <td class="lgl1 getHeader" *ngIf="!FinanceLogin" reshead="Name" text-wrap>{{claimrequestdetail.FULLNAME}}</td>
                    <td class="lgl1 getHeader" reshead="Claim Type">{{claimrequestdetail.CLAIMTYPE}}</td>
                    <td class="lgl1 getHeader" reshead="Date">{{claimrequestdetail.TRAVEL_DATE | date: 'dd/MM/yyyy'}}</td>
                    <td class="lgl1 getHeader" reshead="Status">{{claimrequestdetail.STATUS}}</td>
                    <td class="lgl1 getHeader" reshead="Stage" hidden>{{claimrequestdetail.STAGE}}</td>
                    <td class="lgl1 getHeader" reshead="Amount" style="text-align: right;">{{claimrequestdetail.CLAIM_AMOUNT | number:'1.2-2'}}</td>
                    <td class="lgl1 getHeader fColor" reshead="Action" style="text-align: right;">
                        <button ion-button item-end (click)='viewClaim(claimrequestdetail.CLAIM_REQUEST_GUID, claimrequestdetail.PROFILE_LEVEL, claimrequestdetail.CLAIM_TYPE_GUID)'>
                            <ion-icon name="md-eye"></ion-icon>
                        </button>
                    </td>
                </tr>
                <tr class="col7">
                    <td colspan="7" *ngIf="FinanceLogin"class="lgl11" style="color:#50C878;"> Total Amount({{currency }}) : {{totalClaimAmount | number:'1.2-2'}}</td>
                </tr>

                <tr class="col7">
                    <td colspan="8" *ngIf="!FinanceLogin" class="lgl11" style="color:#50C878;"> Total Amount({{currency }}) : {{totalClaimAmount | number:'1.2-2'}}</td>
                </tr>
            </table>
            <!-- <pagination-controls style=" text-align: center;" (pageChange)="page=$event" id="i" maxSize="10" directionLinks="true" autoHide="true">
            </pagination-controls> -->
        </ion-item>

    </ion-list>
</ion-content>