<!--
  Generated template for the UserclaimslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Claim List</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="searchboxValue"  (ionChange)="onSearchInput($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-item *ngFor="let userdetail of userdetails">
        <ion-label>Name: {{userdetail.FULLNAME}}</ion-label>
        <ion-label>Department: {{userdetail.DEPARTMENT}}</ion-label>
      </ion-item>
    
      <ion-item *ngFor="let userdetail of userdetails">
        <ion-label>Designation: {{userdetail.DESIGNATION}}</ion-label>
        <ion-label></ion-label>
      </ion-item>


        <ion-list>
            <ion-item>
                <table class="Tabler ">
                    <tr class="linedsg TColor">
                        <th class="lgl1 tblBrLeft" style="width:60px">No.</th>
              
                        <th class="lgl1">Claim Type</th>
                        <th class="lgl1">Date</th>
                        <th class="lgl1">Status</th>
                        <th class="lgl1">Stage</th>
                        <th class="lgl1">Amount</th>
                        <th class="lgl1 tblBrRight">ACTION</th>
                     
          
                    </tr>
          
                    <tr class="col7" *ngFor="let claimhistorydetail of userClaimhistorydetails; let i=index">
                        <td class="lgl1">{{i+1}}</td>
                        <td class="lgl1" >{{claimhistorydetail.CLAIMTYPE}}</td>
                        <td class="lgl1" >{{claimhistorydetail.TRAVEL_DATE | date: 'dd/MM/yyyy'}}</td>
                        <td class="lgl1">{{claimhistorydetail.STATUS}}</td>
                        <td class="lgl1">{{claimhistorydetail.STAGE}}</td>
                        <td class="lgl1">{{claimhistorydetail.CLAIM_AMOUNT | number:'1.2-2'}}</td>
                        <td class="lgl1 fColor">
                          <button ion-button item-end (click)="ClaimNavigation(claimhistorydetail.CLAIM_REQUEST_GUID, claimhistorydetail.PROFILE_LEVEL, claimhistorydetail.CLAIM_TYPE_GUID,1)"><ion-icon name="md-eye"></ion-icon></button>
                          <button ion-button item-end (click)="ClaimNavigation(claimhistorydetail.CLAIM_REQUEST_GUID, claimhistorydetail.PROFILE_LEVEL, claimhistorydetail.CLAIM_TYPE_GUID,2)"><ion-icon name="md-create"></ion-icon></button>
                          <button ion-button item-end (click)="ClaimNavigation(claimhistorydetail.CLAIM_REQUEST_GUID, claimhistorydetail.PROFILE_LEVEL, claimhistorydetail.CLAIM_TYPE_GUID,1)"><ion-icon name="md-close"></ion-icon></button>
                        </td>
                    </tr>
          
          
                </table>
            </ion-item>
          </ion-list>
          

</ion-content>
