<!--
  Generated template for the SetupguidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary200">
    <ion-title>{{ "SETUP_GUIDE" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="blackcontainer"></div>
  <div class="popscroll" padding>

    <ion-card>
      <ion-card-header color="pure" class="icTitle2">
        {{ "REGISTER_COMPANY" | translate }}
      </ion-card-header>

      <ion-card-content *ngIf="CompanyClicked" color="pure">
        <ion-list>
          <form [formGroup]="Branchform1">

            <ion-item>
              <ion-label stacked> {{ "TENANT_NAME" | translate }}</ion-label>
              <ion-input type="text" formControlName="TENANT_NAME" [(ngModel)]="Tenant_Name_ngModel" placeholder="{{'Please fill in the name of tenant'}}"
                [readonly]="Readonly()"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>{{"S_CONTACT_PERSON" | translate}}</ion-label>
              <ion-input type="text" formControlName="CONTACT_PERSON" [(ngModel)]="ContactPerson_ngModel" placeholder="{{'Please fill in the contact person'}}"></ion-input>
            </ion-item>

            <ion-item style="display: none">
              <ion-label stacked>{{"USER_ID" | translate}}</ion-label>
              <ion-input type="text" formControlName="USER_ID" [(ngModel)]="Userid_ngModel" placeholder="{{'Please fill in the user id'}}"></ion-input>
            </ion-item>

            <ion-item style="display: none;">
              <ion-label stacked>{{"PASSWORD" | translate}}</ion-label>
              <ion-input type="password" formControlName="PASSWORD" [(ngModel)]="Password_ngModel" placeholder="{{'Please fill in the password'}}"></ion-input>
            </ion-item>

            <div class="btn">
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Branchform1.valid" (click)="SaveCompany()">{{"NEXT" | translate}}
                <ion-icon name="ios-arrow-forward" style="padding: 10px;"></ion-icon>
              </button>
              <a ion-button color="primary" (click)="SkipSetup()">{{"SKIP" | translate}}</a>
            </div>

          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="pure" class="icTitle2">
        {{"REGISTER_HQ" | translate}} 
      </ion-card-header>

      <ion-card-content *ngIf="HQClicked">
        <ion-list>
          <form [formGroup]="Branchform2">

            <div style="width: 47%; display:inline-table !important;">
              <ion-item>
                <ion-label stacked> {{"COMPANY_HQ" | translate}} </ion-label>
                <ion-input type="text" formControlName="COMPANY_NAME" [(ngModel)]="Companyname_ngModel" placeholder="{{'Please fill in the company name'}}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked> {{"HQ_REG_NO" | translate}} {{"HQ REG NO."}}</ion-label>
                <ion-input type="text" formControlName="HQ_REGNO" [(ngModel)]="HQregno_ngModel" placeholder="{{'Please fill in the registration number'}}"></ion-input>
              </ion-item>
            </div>

            <div style="width: 47%; display:inline-table !important;">
              <ion-item>
                <ion-label stacked> {{"S_EMAIL" | translate}}</ion-label>
                <ion-input type="text" formControlName="TENANT_EMAIL" [(ngModel)]="Tenantemail_ngModel" placeholder="{{'Please fill in the email'}}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked> {{"CONTACT_NO" | translate}}</ion-label>
                <ion-input type="number" formControlName="TENANT_CONTACTNO" [(ngModel)]="Tenantcontactno_ngModel" placeholder="{{'Please fill in the contact no'}}"></ion-input>
              </ion-item>
            </div>

            <div class="btn">
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="BackHQ()">
                <ion-icon name="ios-arrow-back" style="padding: 10px;"></ion-icon>{{"BACK" | translate}}
              </button>
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" [disabled]="!Branchform2.valid" (click)="SaveHQ()">{{"NEXT" | translate}}
                <ion-icon name="ios-arrow-forward" style="padding: 10px;"></ion-icon>
              </button>
            </div>

          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="pure" class="icTitle2">
        {{"REGISTER_BRANCH" | translate}}
      </ion-card-header>

      <ion-card-content *ngIf="BranchClicked">
        <ion-list>
          <form [formGroup]="Branchform3">
            <div style="width: 47%; display:inline-table !important;">
              <ion-item>
                <ion-label stacked>  {{"BRANCH_NAME" | translate}}</ion-label>
                <ion-input type="text" formControlName="BRANCH_NAME" [(ngModel)]="Branch_Name_ngModel" placeholder="{{'Please fill in the name of your company'}}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>  {{"BRANCH_REG_NO" | translate}}</ion-label>
                <ion-input type="text" formControlName="BRANCH_REGNO" [(ngModel)]="Branch_Regno_ngModel" placeholder="{{'Please fill in the registration number of the company'}}"></ion-input>
              </ion-item>
            </div>

            <div style="width: 47%; display:inline-table !important;">
              <ion-item>
                <ion-label stacked>  {{"SETUP_GUID_EMAIL" | translate}}</ion-label>
                <ion-input type="text" formControlName="BRANCH_EMAIL" [(ngModel)]="Branch_Email_ngModel" placeholder="{{'Please fill in the email'}}"></ion-input>
              </ion-item>

              <div style="width: 51%; display:inline-table !important;">
                <ion-item>
                  <ion-label stacked>  {{"S_CONTACT_NO" | translate}}</ion-label>
                  <ion-input type="number" formControlName="BRANCH_CONTACT_NO" [(ngModel)]="Branch_Contactno_ngModel" placeholder="{{'Please fill in the contact no'}}"></ion-input>
                </ion-item>
              </div>

              <!-- <div style="width: 47%; display:inline-table !important;">
                 <ion-item>
                  <ion-label stacked>{{"BRANCH HQ"}}</ion-label> 
                  <ion-toggle formControlName="ISHQ_FLAG" [(ngModel)]="Branch_ISHQ_FLAG_ngModel"></ion-toggle>                 
                </ion-item> 



              </div> -->

            </div>
            <div class="btn">
              <button ion-button icon-left [disabled]="!Branchform3.valid" (click)="AddBranch()">
                {{"S_ADD" | translate}}
                <ion-icon name="md-add-circle" style="padding: 10px;"></ion-icon>
              </button>
            </div>
            <ion-list>
              <ion-item>
                <table class="Tabler">
                  <tr class="linedsg TColor">
                    <th class="lgl1 tblBrLeft" style="width:60px;">NO</th>
                    <th class="lgl1">NAME</th>
                    <th class="lgl1">REG NO.</th>
                    <th class="lgl1">EMAIL</th>
                    <th class="lgl1">CONTACT NO</th>
                    <th class="lgl1">IS HQ</th>
                    <th class="lgl1 tblBrRight" style="width:90px;">ACTION</th>
                  </tr>

                  <tr class="col7" *ngFor="let branch of Branches; let i=index">
                    <td class="lgl1">{{i+1}}</td>
                    <td class="lgl1">{{branch.BRANCH_NAME}}</td>
                    <td class="lgl1">{{branch.BRANCH_REGNO}}</td>
                    <td class="lgl1">{{branch.BRANCH_EMAIL}}</td>
                    <td class="lgl1">{{branch.BRANCH_CONTACTNO}}</td>
                    <td class="lgl1">
                      <ion-icon *ngIf="branch.ISHQ==true" md="md-done-all"></ion-icon>
                      <ion-icon *ngIf="branch.ISHQ==false" md="md-close"></ion-icon>
                    </td>

                    <td class="lgl1 fColor">
                      <button ion-button item-end (click)="EditBranch(branch.BRANCH_GUID)">
                        <ion-icon name="md-create"></ion-icon>
                      </button>
                      <button ion-button item-end (click)="RemoveBranch(branch.BRANCH_GUID)">
                        <ion-icon name="md-close"></ion-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </ion-item>
            </ion-list>

            <div class="btn">
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="BackBranch()">
                <ion-icon name="ios-arrow-back" style="padding: 10px;"></ion-icon>{{"BACK" | translate}}
              </button>
              <!-- [disabled]="!Branchform3.valid" -->
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="SaveBranch()">NEXT
                <ion-icon name="ios-arrow-forward" style="padding: 10px;"></ion-icon>
              </button>
              <a ion-button color="primary" (click)="SaveBranch()">{{"SKIP" | translate}}</a>
            </div>

          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="pure" class="icTitle2">
        {{"REGISTER_DEPARTMENT" | translate}}
      </ion-card-header>

      <ion-card-content *ngIf="DepartmentClicked">
        <ion-list>
          <form [formGroup]="Branchform4">

            <ion-item>
              <ion-label stacked> {{"DEPARTMENT_NAME" | translate}}</ion-label>
              <ion-input type="text" formControlName="DEPARTMENT_NAME" [(ngModel)]="Department_Name_ngModel" placeholder="{{'Please fill in the department name of your company'}}"></ion-input>
            </ion-item>

            <ion-item style="display: none;">
              <ion-label stacked> {{"S_DESCRIPTION" | translate}}</ion-label>
              <ion-input type="text" formControlName="DEPARTMENT_DESCRIPTION" [(ngModel)]="Department_Desc_ngModel" placeholder="{{'Please fill in the department description of your company'}}"></ion-input>
            </ion-item>
            <div class="btn">
              <button ion-button icon-left [disabled]="!Branchform4.valid" (click)="AddDepartment()">
                {{"S_ADD" | translate}}
                <ion-icon name="md-add-circle" style="padding: 10px;"></ion-icon>
              </button>
            </div>

            <ion-list>
              <ion-item>
                <table class="Tabler">
                  <tr class="linedsg TColor">
                    <th class="lgl1 tblBrLeft" style="width:60px;">NO</th>
                    <th class="lgl1">NAME</th>
                    <th class="lgl1" style="display: none;">DESCRIPTION</th>
                    <th class="lgl1 tblBrRight" style="width:90px;">ACTION</th>
                  </tr>

                  <tr class="col7" *ngFor="let dept of Department; let i=index">
                    <td class="lgl1">{{i+1}}</td>
                    <td class="lgl1">{{dept.DEPARTMENT_NAME}}</td>
                    <td class="lgl1" style="display: none;">{{dept.DEPARTMENT_DESC}}</td>
                    <td class="lgl1 fColor">
                      <button ion-button item-end (click)="EditDepartment(dept.DEPARTMENT_GUID)">
                        <ion-icon name="md-create"></ion-icon>
                      </button>
                      <button ion-button item-end (click)="RemoveDepartment(dept.DEPARTMENT_GUID)">
                        <ion-icon name="md-close"></ion-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </ion-item>
            </ion-list>

            <div class="btn">
              <button ion-button (click)="BackDepartment()">{{"BACK" | translate}}
                <ion-icon name="ios-arrow-back" style="padding: 10px;"></ion-icon>
              </button>
              <!-- [disabled]="!Branchform4.valid" -->
              <button ion-button (click)="SaveDepartment()">  {{"NEXT" | translate}}
                <ion-icon name="ios-arrow-forward" style="padding: 10px;"></ion-icon>
              </button>
            </div>

          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="pure" class="icTitle2">
        {{"REGISTER_DESIGNATION" | translate}}
      </ion-card-header>

      <ion-card-content *ngIf="DesignationClicked">
        <ion-list>
          <form [formGroup]="Branchform5">

            <ion-item>
              <ion-label stacked>{{"S_DESIGNATION_NAME" | translate}}</ion-label>
              <ion-input type="text" formControlName="DESINATION_NAME" [(ngModel)]="Designation_Name_ngModel" placeholder="{{'Please fill in the designation name of your company'}}"></ion-input>
            </ion-item>

            <ion-item style="display: none;">
              <ion-label stacked>{{"S_DESCRIPTION" | translate}}</ion-label>
              <ion-input type="text" formControlName="DESIGNATION_DESC" [(ngModel)]="Designation_Desc_ngModel" placeholder="{{'Please fill in the designation description of your company'}}"></ion-input>
            </ion-item>
            <div class="btn">
              <button ion-button icon-left [disabled]="!Branchform5.valid" (click)="AddDesignation()">
                {{"S_ADD" | translate}}
                <ion-icon name="md-add-circle" style="padding: 10px;"></ion-icon>
              </button>
            </div>

            <ion-list>
              <ion-item>
                <table class="Tabler">
                  <tr class="linedsg TColor">
                    <th class="lgl1 tblBrLeft" style="width:60px;">NO</th>
                    <th class="lgl1">NAME</th>
                    <th class="lgl1" style="display: none;">DESCRIPTION</th>
                    <th class="lgl1 tblBrRight" style="width:90px;">ACTION</th>
                  </tr>

                  <tr class="col7" *ngFor="let desig of Designation; let i=index">
                    <td class="lgl1">{{i+1}}</td>
                    <td class="lgl1">{{desig.DESIGNATION_NAME}}</td>
                    <td class="lgl1" style="display: none;">{{desig.DESIGNATION_DESC}}</td>
                    <td class="lgl1 fColor">
                      <button ion-button item-end (click)="EditDesignation(desig.DESIGNATION_GUID)">
                        <ion-icon name="md-create"></ion-icon>
                      </button>
                      <button ion-button item-end (click)="RemoveDesignation(desig.DESIGNATION_GUID)">
                        <ion-icon name="md-close"></ion-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </ion-item>
            </ion-list>

            <div class="btn">
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="BackDesignation()">
                <ion-icon name="ios-arrow-back" style="padding: 10px;"></ion-icon>{{"BACK" | translate}}
              </button>
              <!-- [disabled]="!Branchform6.valid" -->
              <button ion-button class="bgColor-grey fontColor-white btnStyle1" (click)="SaveDesignation()">{{"FINISH" | translate}}</button>
            </div>

          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>