<ion-header>
  <ion-navbar color="primary200">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "APPROVER_TASK_LABEL" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-card *ngFor="let item of claimrequestdetails">
    <ion-item>
      <!-- <ion-checkbox (ionChange)="checkAllCheckBoxes($event)"></ion-checkbox> -->
      <h2>{{ "NAME_LABEL" | translate }} : {{item.FULLNAME}}</h2>
      <h2 item-end>{{item.STATUS}}</h2>
    </ion-item>
    <ion-item>
      <p>{{ "CLAIM_TYPE_LABEL" | translate }} : {{item.CLAIMTYPE}}</p>
      <p>{{ "CLAIM_DATE_LABEL" | translate }}: {{item.TRAVEL_DATE | date: 'dd/MM/yyyy'}}</p>
      <p>{{ "CLAIM_AMOUNT_LABEL" | translate }}{{ currency }}: {{item.CLAIM_AMOUNT | number:'1.2-2'}}</p>
      <button ion-button item-end (click)='viewClaim(item.CLAIM_REQUEST_GUID, item.PROFILE_LEVEL, item.CLAIM_TYPE_GUID)'>
        <ion-icon name="md-eye"></ion-icon>
      </button>
    </ion-item>
  </ion-card>

</ion-content>


<!-- <ion-header>
  <ion-navbar>
    <ion-title>Approver Task List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-button item-end (click)="approveClaims()">Approve</button>
  </ion-item>

  <ion-list>
    <ion-item>
      <table class="Tabler ">
          <tr class="linedsg TColor">
              <th class="tblBrLeft" style="width:60px">
                <ion-item>
                  <ion-checkbox item-end (ionChange)="checkAllCheckBoxes($event)"></ion-checkbox>
                </ion-item>
              </th>
              <th style="width:60px">No.</th>
              <th>Name</th>
              <th>Claim Type</th>
              <th>Date</th>
              <th>Status</th>
              <th>Stage</th>
              <th>Amount</th>
              <th class="tblBrRight">Action</th>
          </tr>

          <tr class="col7" *ngFor="let item of claimrequestdetails; let i=index">
            <td class="lgl1">
                <ion-item>   <ion-checkbox item-end [checked]="selectAll" (ionChange)="getCheckboxValue($event,item.CLAIM_REQUEST_GUID)"> </ion-checkbox></ion-item>
              </td>

              <td class="lgl1">{{i+1}}</td>
              <td class="lgl1" >{{item.FULLNAME}}</td>
              <td class="lgl1" >{{item.CLAIMTYPE}}</td>
              <td class="lgl1" >{{item.TRAVEL_DATE | date: 'dd/MM/yyyy H:mm'}}</td>
              <td class="lgl1">{{item.STATUS}}</td>
              <td class="lgl1">{{item.STAGE}}</td>
              <td class="lgl1">{{item.CLAIM_AMOUNT}}</td>
              <td class="lgl1 fColor">
                  <button ion-button item-end (click)='viewClaim(item.CLAIM_REQUEST_GUID, item.PROFILE_LEVEL)'><ion-icon name="md-eye"></ion-icon></button>
              </td>
          </tr>
      </table>
    </ion-item>
  </ion-list>
</ion-content> -->